[2014-04-25 16:57] prakashraman opened #1 "getUnseenMessages() ?"
Hi

Thanks for the library, its wonderful !

I was wondering if there is a method to fetch only the unseen messages ?

Thanks, do let me know.

[2014-06-30 17:42] #1 closed, assigned to nobody

[2014-07-31 09:42] Vikram-dev opened #3 "getting a bug in Imap.php"
I have download the fresh version of this IMap package.
There is a bug in line no 183 in IMap.php. there is a parse error the functional array used in true condition is giving error. While same code using in toAddress() is showing correct.
Please suggest me how should i remove this.

[2014-10-30 10:45] vinod8081 opened #6 "method getAttachments not working for outlook.com"
HI,
I am using the imap library its working great. But for outlook.com not giving the attachments.
I thing the need to modify the method getAttachments. I have tried but its not giving the attachments.

[2014-11-03 12:27] rickoneeleven opened #7 "examples wrong id"
in your examples you have $emails[0]['id'] but it's actually uid

thanks and great script by the way
r

[2015-02-10 10:54] tomjoad2000 opened #9 "Unconditional echo in method setUnseenMessage"
There's an echo at the end of method setUnseenMessage which shouldn't be there. Probably an artifact from debugging.

[code]

[2015-04-08 17:01] tomjoad2000 commented on #7
+1. At least with microsoft imap.

[2015-04-08 17:08] tomjoad2000 commented on #7
Something's wrong.. At row 190:
        // fetch unique uid
        $uid = imap_uid($this->imap, $id);

So what's $id? Running office365 imap returns no id-value at all on getMessages().

[2015-04-24 06:29] tomjoad2000 commented on #7
FYI: Couldn't get this library working with IMAP towards office365, but had no problems with other library (https://github.com/barbushin/php-imap)

[2015-05-24 03:57] kurdtpage opened #13 "Getting unread emails"
The functions countUnreadMessages() and getUnreadMessages() both use the following code to detect unread emails:
$result = imap_search($this->imap, 'UNSEEN');
My mail server uses the marker 'UNREAD' to mark emails as being not read.

Need to add the following to both functions:
$result = imap_search($this->imap, 'UNREAD');

[2015-05-24 03:59] kurdtpage opened #14 "countUnreadMessages returns FALSE if no unread emails"
As per the title, countUnreadMessages returns FALSE if no unread emails.
Need to change:

if($result===false) return false;

to

if($result===false) return 0;

[2015-05-29 08:17] mirkobrombin opened #16 "Limit of messages?"
How can i limit getMessages result?

[2015-06-09 15:02] basdog22 opened #17 "No support for prefixed folders."
Many cpanel hosts have their imap folders prefixed. For example my server folder's names are:

INBOX.Sent
INBOX.Trash
etc

It would be good to add a public class property named prefix or something and use this on getTrash,getSent etc.

[2015-06-29 13:26] skynet opened #18 "Use secondary interface when making requests to the IMAP"
I want to use a secondary interface with a different IP when making requests to the IMAP server. How do I accomplish that?

With curl is as easy as setting up a flag:
[code]
For imap the only remaining option is to bind php to a different interface, which is also a pain ...

[2015-07-08 02:22] dezeyer commented on #6
i use zoho mail. when i get a mail by id, var_dump, i can see my attachment, but getAttachment($mailid) is given false. i halse had to remove the $header line in getAttachment, it causes errors and is not used in that function

[2015-07-08 10:58] dezeyer commented on #6
And so i added this function to the class...

/**
     * return content of messages attachment
     *
     * @return file name
     * @param $email_number id of the message
     * @param $DOCROOT where the docroot is
     */
    public function saveAttachment($email_number,$DOCROOT) {
        /* get information specific to this email */
        $structure = imap_fetchstructure($this->imap,$email_n

[2015-07-28 11:44] #16 closed

[2015-08-07 21:53] Ajtak opened #19 "Attachment not working for gmail?"
Hi. Attachment content not working for gmail?

How to fix it?

Thank you,

[2015-09-04 08:27] stdex opened #21 "Undefined property: stdClass::$date"
Undefined property: stdClass::$date in <b>Imap.php</b> on line <b>207</b><br />

If mail server do not return date or return date like this:
  ["MailDate"]=>
  string(26) " 4-Sep-2015 08:29:02 +0000"
  ["Size"]=>
  string(4) "1768"
  ["udate"]=>
  int(1441355342)

[2015-09-04 09:17] stdex opened #22 "Incorrect charset"
If mail server return subjects like this:
["subject"]=> string(21) "=?koi8-r?B?+sHLwdo=?="

Your lib use function convertToUtf8 and incorrect encode it.

It's work for me:
    //"=?koi8-r?B?".base64_encode($subject)."?="
    $header = imap_header($imap, $i);
    $subj = str_replace('=?koi8-r?B?','',$header->subject);
    $subj = str_replace('?=','',$subj);
    var_dump(base64_decode($subj));

And

[2015-11-16 19:17] fulldecent opened #24 "Composer"
Requesting composer support, please, to ease the integration of this awesome library

[2015-11-24 16:00] stevemueller opened #25 "Large file"
Hello,
I've a big mailbox...
Is it possible that you implement a cache function bzw. local mail-save?

[2015-11-24 18:43] aaronjsmith opened #26 "Heads up on ID's and UID's."
I had to add the following to formatMessage:

'id'       =>  $id,

Please note if you are unable to get a function to work alternate between the UID & ID... this isnt documented.

[2015-11-24 18:46] kurdtpage commented on #26
You could possibly add an "isset" function to check for both variants.
On 25 Nov 2015 07:43, "Aaron Smith" <notifications@github.com> wrote:

[2015-11-30 18:17] artemiusgreat commented on #22
I also faced issue with KOI8-R, this happened with emails from Yandex.
Here is the method that I used to work around the issue.

/**
     * Identify encoding by charset attribute in header
     * @param $id
     * @return string
     */
    protected function setEncoding($id)
    {
        $header = imap_fetchstructure($this->imap, $id);
        $params = $header->parameters ?: [];

        foreac

[2015-11-30 18:25] artemiusgreat opened #27 "Is it possible to make private methods protected to add ability for inheritance?"
Initial class is great but it misses some important functions, e.g. search messages by criteria.

Let's say, I or any other developer would like to create child class derived from base one and add such method but I need to get access to open IMAP connection.

Thus, at least $imap property should be protected instead of private.

[2016-02-02 03:02] sams commented on #24
👍 yes please

[2016-02-22 17:27] fulldecent commented on #14
This was fixed with 021b87b47dec7d43edc736d1a6ee5b786cba1f99

Recommending close

[2016-02-22 17:28] fulldecent commented on #3
This is now fixed in the latest version. Recommending close.

[2016-02-22 17:30] fulldecent commented on #18
I do not see this option in the underlying PHP IMAP functions. Please report this issue upstream to PHP.

[2016-02-22 22:03] fulldecent opened #30 "Deleted messages are returned"
Normal email clients do not show messages that were recently deleted, but php-imap-client does.

[2016-03-10 17:04] skynet commented on #18
:+1: Thanks for answering.

[2016-03-10 17:04] #18 closed

[2016-04-17 17:06] t-me opened #32 "Question : Close Imap connection?"
How can i close a imap connection?

I see the

[code]

but how do i call it?
i have looked at [http://php.net/manual/en/language.oop5.decon.php](url) but i did not see the answer there.

Have i overlooked a function?

[2016-04-17 18:40] SSilence commented on #32
You can close the connection by unsetting the variable holding the Imap Object (unset $imap).

But I have added a function for explicitly closing the connection.

[2016-04-17 18:40] #32 closed

[2016-04-21 17:26] natanfelles commented on #19
Hello, @Ajtak !
Some solution to this problem with the attachments in Gmail?
Do you know if this works in other mail server?

Thanks. I am starting to work in this project now...

[2016-04-22 17:17] natanfelles commented on #6
Hello!
This bus has been fixed here: https://github.com/natanfelles/php-imap-client/commit/de9df0bd3271170f0a8248bf0496fc6d4aee612e (comment the Gmail and uncomment Outlook lines)

I will do a Pull resquest when I implement the ability to define what dparameters to use automatically.

[2016-04-22 17:17] natanfelles commented on #19
Hello!
This bus has been fixed here: https://github.com/natanfelles/php-imap-client/commit/de9df0bd3271170f0a8248bf0496fc6d4aee612e

I will do a Pull resquest when I implement the ability to define what dparameters to use automatically.

[2016-04-23 05:50] #30 closed

[2016-05-25 08:03] renovoto opened #35 "Imap Attachment File Path Not Showing"
forgive me if I am wrong but the file that I attach I am not able to download it, it is only showing attachment name please give me a fix for this it's urgent.

[2016-05-25 09:26] renovoto opened #36 "imap get message not working"
Hi I tried $imap->getMessage($id, $withbody = true);
but I am getting the following output Array ( [to] => [from] => <> [date] => [subject] => [uid] => [unread] => [answered] => [deleted] => [body] => [html] => ) what am I doing wrong over here. please help

[2016-05-26 08:43] renovoto commented on #36
Hi, I have fixed the issue my self in imap.php on formatmessage function i added the following line 'msgno'	=> $header->Msgno in email array

[2016-06-27 05:01] kurdtpage opened #38 "Error while trying to delete"
Here is my code:

[code]

I get the following errors:

[2016-06-27 20:24] kurdtpage commented on #35
Use something like this:

$emails = $imap->getMessages();
if(count($emails)>0){ //if theres a new email
	foreach($emails as $email) { //for every new email
		echo "Processing UID: ".$email['uid']."<br>";
		if(isset($email['attachments'])){ //if it has attachments
		$atts = count($email['attachments']); //get number of attachments
		for($i = 0; $i<$atts; $i++){ //for each attachment
			$filename =

[2016-06-27 20:34] #14 closed

[2016-06-30 05:36] koderium commented on #35
so, how to download this content ?

[2016-07-28 10:58] kurdtpage commented on #35
**NOT TESTED**
After the last line (starting with $contents...) you can put:
[code]

Note that you cannot do any echo's before the header statement, so you will have to take them out. This solution will only allow 1 file to be downloaded.

[2016-09-20 06:21] Antonyous opened #40 "Cant get e-mail address in "FROM', has name only."
["from"]=> string(59) "Antonyous" ["date"]=> string(31) "Sun, 18 Sep 2016 21:51:07 +0300"

[2016-10-05 08:41] nekromoff commented on #38
Happens to me as well, definitely a bug

[2016-10-05 08:42] nekromoff commented on #38
Moreover, no messages get deleted, all stay unchanged in INBOX

[2016-10-05 08:54] nekromoff commented on #38
Notice: Unknown: Client tried to access nonexistent namespace. (Mailbox name should probably be prefixed with: INBOX.) (errflg=2) in Unknown on line 0

Notice: Unknown: Client tried to access nonexistent namespace. (Mailbox name should probably be prefixed with: INBOX.) (errflg=2) in Unknown on line 0

Notice: Unknown: Client tried to access nonexistent namespace. (Mailbox name should probably be

[2016-10-05 09:02] nekromoff commented on #38
fix - edit Imap.php and replace deleteMessages function with this:
`
    /**
     * delete messages
     *
     * @return bool success or not
     * @param $ids array of ids
     */
    public function deleteMessages($ids) {
        foreach ($ids as $id) {
            imap_delete($this->imap, $id, FT_UID);
        }
        /*
        if( imap_mail_move($this->imap, implode(",", $ids), $this->getT

[2016-10-10 19:03] artemiusgreat opened #41 "Script doesn't support inline attachments"
Script doesn't support **inline** attachments.
Specifically, some files, maybe just big files, sent from **mail.ru**
To fix this replace all such places

with this

and replace this check

with this

Sorry, don't have time to make patch for this.

[2016-10-26 17:44] nickbe opened #42 "How can I create an eml file from a mail"
Is there a method for creating eml files?

[2016-12-02 19:53] xXXIMMATTHEWXXx commented on #42
Not currently. Note that this repo is for connecting to a server and manageing emails. Note for sending them. SO, If you want to use email files you can hack something together yourself with https://github.com/PHPMailer/PHPMailer

[2016-12-02 20:51] xXXIMMATTHEWXXx commented on #36
No clue if you are still active on github, but if you are and the issue is fixed. Please close the issue :)

[2016-12-02 21:01] xXXIMMATTHEWXXx commented on #25
I would impletment this by yourself. As the data would be cached on your file system and adding this would add class. Breaking the whole "As simple as one class" idea

[2016-12-02 21:12] xXXIMMATTHEWXXx commented on #21
This is because of out dated mail servers. I would recommend updating your mail sever

[2016-12-04 15:57] #21 closed

[2016-12-06 10:29] #36 closed

[2016-12-08 07:58] fr0z3nfyr commented on #13
'UNSEEN' flag is the standard.

For your specific case, it'd be just as simple as passing a parameter that defaults to `UNSEEN` and pass your desired `FLAG` like this:
[code]
and call like so: `getUnreadMessages('UNREAD')`

[2016-12-08 15:42] natanfelles opened #50 "I am not dutchakdev"
Please, remove this item from the authors object in composer.json. Thanks!

[code]

[2016-12-08 17:23] xXXIMMATTHEWXXx commented on #50
Woops will add to my lastest pr! See half human :)

[2016-12-08 19:54] xXXIMMATTHEWXXx commented on #50
Thar. All fixed for you :)

[2016-12-08 19:56] xXXIMMATTHEWXXx commented on #3
@Vikram-dev  if you are still active please close this issue

[2016-12-08 19:56] xXXIMMATTHEWXXx commented on #6
@vinod8081 i dont know if you are still an active github user, but if you are please close this issue

[2016-12-08 19:57] xXXIMMATTHEWXXx commented on #7
@rickoneeleven  if you are still active on github please close this issue

[2016-12-08 19:58] xXXIMMATTHEWXXx commented on #9
Fixed a bit back. @tomjoad2000 if you are still active please close this issue

[2016-12-08 19:59] xXXIMMATTHEWXXx commented on #13
I will submit this into a new pr. Thanks

[2016-12-08 20:05] kurdtpage commented on #38
If this is merged into the normal file, I can close the issue.

[2016-12-08 20:07] kurdtpage commented on #13
Thanks

[2016-12-08 20:07] #13 closed

[2016-12-08 20:10] xXXIMMATTHEWXXx commented on #17
@basdog22  I may add this a pr soon :) Thanks for the suggestion

[2016-12-08 20:11] xXXIMMATTHEWXXx commented on #22
@stdex @artemiusgreat  Thanks. If you can @artemiusgreat add this in a pr. If not ill gladly do it :)

[2016-12-08 20:12] xXXIMMATTHEWXXx commented on #50
Oh a do you mind closing this?

[2016-12-08 20:13] xXXIMMATTHEWXXx commented on #41
@artemiusgreat I will see if this is still an issue and if it is ill make a pr. Thanks

[2016-12-08 20:13] xXXIMMATTHEWXXx commented on #27
@artemiusgreat  Thanks! Will edit in a future pr :)

[2016-12-08 20:15] xXXIMMATTHEWXXx commented on #24
@fulldecent This has been done :) requesting closure of this issue

[2016-12-08 20:17] xXXIMMATTHEWXXx commented on #38
@kurdtpage I will add this in with a pr later thanks!

[2016-12-08 20:17] #38 closed

[2016-12-08 20:23] xXXIMMATTHEWXXx commented on #19
@Ajtak If you are still active close this issue please

[2016-12-08 20:35] #9 closed

[2016-12-08 21:03] xXXIMMATTHEWXXx commented on #22
Fixed. Please close this @stdex

[2016-12-08 21:05] xXXIMMATTHEWXXx commented on #27
@artemiusgreat  ha! Didn't see this was already fixed. Close this if you don't mind :)

[2016-12-08 22:04] rickoneeleven commented on #7
Closed

[2016-12-08 22:04] #7 closed

[2016-12-09 01:21] #22 closed

[2016-12-09 07:24] SonnyLCD opened #51 "Mac Mail, inline embedded images and attachments"
Hi all

Thanks for a very nice imap client!

However, I have a problem that I haven't been able to solve.

When writing an email in Apple Mail (that sends attachments inline), that contains both inline images and an attachment, like an PDF or Excel file, then it breaks. The $mail['body_embed'] does no longer return the whole email. Typically it breaks on the first embedded image, and cuts mail the

[2016-12-09 08:43] fr0z3nfyr opened #52 "Duplicate `convertToUtf8`"
`convertToUtf8()` is duplicated on line [L878](https://github.com/SSilence/php-imap-client/blob/master/ImapClient/ImapClient.php#L878). Can be removed.

[2016-12-09 13:58] #24 closed

[2016-12-09 13:58] fulldecent commented on #24
Great, thanks for the note

[2016-12-09 14:00] xXXIMMATTHEWXXx commented on #52
@fr0z3nfyr Thanks! I will add this to my next pr!

[2016-12-09 14:02] xXXIMMATTHEWXXx commented on #51
@SonnyLCD  Hmm... do you mind showing your code? I may be able to hack my way around and fix this later

[2016-12-09 14:21] SonnyLCD commented on #51
Sure

I using the imap class in a Phalcon PHP MVC setup. Is pretty straightforward, I add the imap class to the application in the Dependency Injector, and Implement it in a Controller.

I get the mail like this:

`$mail = $imap->getMessage($message_id, $withbody = true);`

I render the mail content simply like this for now:

`$mail['body_embed']`

It works great when only having images that are e

[2016-12-09 14:22] xXXIMMATTHEWXXx commented on #51
Yes. Thank you. I will try and hack something up later. Thank you for
reporting this issue :)

[2016-12-09 23:05] #52 closed

[2016-12-10 06:04] fr0z3nfyr commented on #51
For me, in the latest version as of date, `$email['body_embedd']` wasn't being set at all. Upon investigation, found that `$this->embed` was not being set to true at all. So to fix it, I just added
`$this->embed = true;    // alternatively, $this->embed = $this->setEmbed(true);` in `getAttachments(...) {...}` like this:
[code]
You may want to look into the latest code to fix this. Cheers!!

[2016-12-10 08:52] SonnyLCD commented on #51
Great! many thanks to **fr0z3nfyr** .. this solved the problem.

[2016-12-10 08:52] #51 closed

[2016-12-10 10:18] #50 closed

[2016-12-10 12:50] natanfelles opened #55 "Reformat Code Style"
Hello!

What do you think about to reformat this source using tha [PSR-1/PSR-2](http://www.php-fig.org/psr/psr-2/) Code Style. This is native in some IDEs and the code is more pretty. Also suggest updating the PHP Doc, I also have done something locally.

Waiting reponse for PR #54 to upload.

[2016-12-10 12:58] natanfelles commented on #16
#54

[2016-12-10 13:16] natanfelles commented on #41
#54

[2016-12-10 14:39] natanfelles commented on #35
#54

[2016-12-10 15:55] natanfelles commented on #17
Please, add "New Feature" label or anything like...

[2016-12-10 15:56] natanfelles commented on #3
Close.

[2016-12-10 16:32] natanfelles commented on #27
Now is possible search by criteria. Look at: #54 and http://php.net/manual/en/function.imap-search.php if do you want.

[2016-12-12 18:27] xXXIMMATTHEWXXx commented on #55
I like it. I would go ahead

[2016-12-13 14:37] xXXIMMATTHEWXXx commented on #35
@renovoto As @natanfelles  has fixed this in his lastest pr. If you are still active on github please close this issue :)

[2016-12-13 14:38] xXXIMMATTHEWXXx commented on #41
@artemiusgreat  as @natanfelles has fixed this issue in his latest pr. If you are still active on github please close this issue.

[2016-12-15 12:59] #55 closed

[2016-12-15 13:00] #41 closed

[2016-12-15 13:01] #27 closed

[2016-12-15 13:01] #26 closed

[2016-12-15 13:01] #25 closed

[2016-12-15 13:01] #19 closed

[2016-12-15 13:01] #6 closed

[2016-12-15 13:01] #3 closed

[2016-12-16 01:34] aaronjsmith commented on #26
Thank you for your work.

[2016-12-18 08:53] SonnyLCD opened #57 "Embedded images not showing up"
Hi

Thanks for your great work on this library. The last update fixed a lot and added some really nice features.

One thing that I had to fix, at least to get working with my mail server, was a mixup between `$uid` and `$msg_no`:

[code]
The PHP imap library seems to be is a bit of a mess, some functions expect $uid and others $msg_number. So for future releases it might be a good idea to distingu

[2016-12-18 13:23] natanfelles commented on #57
I think that we have to change the way we get individual emails and instead of picking up the `id` (that can be changed if changes are made in the email box, move, delete, etc) and we should use the unique identifier `uid` .

But this will also change the way that users of this library use their methods. I think it is necessary to create a new version or make it very explicit.

[2016-12-18 16:21] SonnyLCD commented on #57
exactly, there are functions to switch between the 2, so is pretty simple:

From UID to message number:

`$msg_number = imap_msgno($this->imap,$uid);`

and from message number to UID:

`$uid = imap_uid($this->imap,$msg_number);`

[2016-12-18 19:43] xXXIMMATTHEWXXx commented on #57
I like this!

[2016-12-18 20:38] Blount opened #60 "Where is ID ?"
Hello.

I need to use ImapClient to manipulate mail via imap.

When I call getUnreadMessages, array returned does not contains any ID key. Also, can't get the attachments.
I added (line 236) :
'id'       => $id,
Before :
'uid'       => $uid,

This work fine.
But, is it correct ?

[2016-12-18 22:00] xXXIMMATTHEWXXx commented on #60
The attachments should be working. Can you add some more info on that? I will ad get id in the future if it has not. I do not know though. Are you using the very newest version as it has been updated

[2016-12-18 22:12] Blount commented on #60
Arf, I used an old version. I think downloaded the last version, sorry.

Also, my attachment is not detected, because the content disposition not define in my mail message.

Extract of mail source :
---
Content-Type: Application/XXXXXX;name=XXXXXX.doc
Content-Transfer-Encoding: base64
Content-Description: CP/ACC

CONFIDENTIALCONTENT

-----

CONFIDENTIALCONTENT is the encoded content of attachment.

[2016-12-19 01:58] kurdtpage commented on #60
Is this the same as issue #26 ?

[2016-12-19 08:17] Blount commented on #60
No. This issue is solve by downloading master version of ImapClient.
To solve my attachment detection, I defined a default disposition (line 927) :
[code]

After this patch, my attachment is correctly return by "getAttachments".

[2016-12-19 08:39] Blount commented on #60
I publish my patch here :
https://github.com/Blount/php-imap-client/commit/52300f192c4cb9e27074a0e83d39c70fe3c72109

[2016-12-19 09:04] sergey144010 commented on #60
I think you need to make pull request.

[2016-12-19 11:14] Blount opened #63 "getFolders return empty array"
When I call getFolders to retrieve all folders in Mailbox, an empty array is returned.
Sent, Trash, Junk, etc, are missing.
I see that $this->mailbox contains INBOX :
`{address:993/imap/notls/ssl/novalidate-cert/user="XXX"}INBOX`
This because you call getResponseMailbox at line 150 :
https://github.com/SSilence/php-imap-client/blob/master/ImapClient/ImapClient.php#L150
When I replace this line by

[2016-12-19 13:31] xXXIMMATTHEWXXx commented on #63
Thanks for pointing that out. Will be fixed. Glad your using this library and helping to improve it :)

[2016-12-19 13:32] xXXIMMATTHEWXXx commented on #60
Yes. If you make a patch or fix please make a pull request.

[2016-12-19 14:08] sergey144010 commented on #63
Well fix it. In the connectDefault () and connectAdvanced ().

[2016-12-19 14:14] xXXIMMATTHEWXXx commented on #63
Thanks. Looks good!

[2016-12-19 14:16] xXXIMMATTHEWXXx commented on #63
Merged. If it is not fixed comment again and explain any thing else relating to this issue :)

[2016-12-19 17:36] sergey144010 commented on #17
So, I think need create new branch for testing new features.
Maybe name new branch - newFeatures.
And I am already ready to give to the test this possibility.
Because it is necessary to discuss.

[2016-12-19 17:37] sergey144010 commented on #17
I make this:
`$imap->getFolder_INBOX_Fridman();`
case-sensitive letters

[2016-12-19 17:54] xXXIMMATTHEWXXx commented on #17
I think the better thing to do is this:
`$imap->getSent($prefix = "")` and let the devs set it. Same for getTrash etc. But i like the idea. Mine would only make it smaller

[2016-12-19 18:53] sergey144010 commented on #17
If I do so:
`$imap->getSent()`
If there is a mistake in the title of the folder.
`$imap->getSeMnt()`
or just write an erroneous method with `get`
that will happen to the server error connect.
It was therefore added `getFolder`. To avoid ambiguity.
And the folder at the top level can be called not INBOX and another for example MYINBOX. How will the work method `$imap->getSent()` ? Need as min `$ima

[2016-12-19 18:55] xXXIMMATTHEWXXx commented on #17
Hmmm I dont know atm. I would play around with a few ideas

[2016-12-19 18:58] sergey144010 commented on #17
I have pull request, for my idea, but I don't want make pull request in master branch.

[2016-12-19 19:00] xXXIMMATTHEWXXx commented on #17
Hmmm. I dont want to do this without @SSilence
Lets see what he says. I say we go ahead and make a test branch.

[2016-12-19 19:11] natanfelles commented on #17
Is not possible get messages selecting a folder like?

[code]
I think that a param `$pattern` must be added to the method `getFolders()` then will be possible to get child folders, like @basdog22 say.

Example:

[code]

* I have not tested it yet.

[2016-12-19 19:22] natanfelles commented on #17
In this way:

[code]

will return the child folders of `INBOX` and if `INBOX` has an subfolder `sub1`, will be possible to get your subfolders with:

[code]

[2016-12-19 19:25] sergey144010 commented on #17
Now I have works just
`$imap->selectFolder('INBOX/Sent');`
This really works.
May be you should not do it issue?

[2016-12-19 19:27] sergey144010 commented on #17
You mean just change this '/' on this '.'

[2016-12-19 20:04] xXXIMMATTHEWXXx commented on #17
I think that works @sergey144010. Not tested but i remember doing something along those lines abit ago

[2016-12-19 20:09] xXXIMMATTHEWXXx opened #65 "Errors"
Hello! Thanks everyone who has been contributing to this library!
I think that for the the errors we can throw ("Could not connect" and so on) should have an explanation
So in either the README or the wiki or even a new markdown file we should let the developers know what each error means and how to fix them.

[2016-12-19 20:10] xXXIMMATTHEWXXx commented on #60
Thanks. If this is fixed please close the issue!

[2016-12-19 20:12] kurdtpage commented on #65
Good idea!

[2016-12-19 20:35] #60 closed

[2016-12-19 20:41] natanfelles commented on #17
I did some tests here and I used the the current `getFolders()`.

My results are:

[code]

Thinking about, I believe that the output can be manipulated by the developer. If he know that your server ever has an `INBOX` folder as main folder, he can remove it with `str_replace()` if necessary.

I think a more elegant way would be to get something like this back:

[code]

But I have not been able to

[2016-12-19 21:53] Blount commented on #63
It's work for me.
Thx.

[2016-12-19 21:53] #63 closed

[2016-12-20 17:19] xXXIMMATTHEWXXx opened #67 "Releases"
Hello! I thought it would be a good idea to make periodic releases once a stable version is released. What does everyone think of this?

[2016-12-20 17:53] sergey144010 commented on #17
Why get such an array?
That contains  [Trash] => Array () ?
What is the next step?

Sorry, but I don't understand what you want. The first post was on a public class like `getSent`. Now you want this
`[Test1] => Array (
                [Sub1] => Array (
                    [Sub2] => Array ()
                )
            )`
. But then it is inserted here:
`{imap.mail.com/imap/ssl/novalidate-cert}T

[2016-12-20 18:06] sergey144010 commented on #65
Maybe you mean to fix the more detailed answer, for example
`throw new ImapClientException('Error connecting to '.$mailbox);`
fix on
``throw new ImapClientException('Error connecting to '.$mailbox. '. Check your connection settings and Internet connection.');``

[2016-12-20 18:08] sergey144010 commented on #67
In case of need.

[2016-12-20 18:09] xXXIMMATTHEWXXx commented on #65
Sorry. What i mean is not in the code. Another file in the repo for developers to use and read. Thats just what i think but that way works too. We can just see what everyone likes the most

[2016-12-20 18:10] xXXIMMATTHEWXXx commented on #67
Just so development files don't get in the way

[2016-12-20 18:15] natanfelles commented on #17
Hello.

The idea is not to repeat the folders. Making the structure come out easy to be adapted into in the navigation menu.

[2016-12-20 19:06] kurdtpage commented on #67
There have been a lot of changes made recently, thanks everybody. Once a stable version is reached, should the major version number change? Say to version 2.0 or something? I think there have been enough changes made from the original code to warrant this. Thoughts?

[2016-12-20 19:06] xXXIMMATTHEWXXx commented on #67
I like that ^^^

[2016-12-21 18:53] sergey144010 commented on #17
Well, I did it. This is what we talked about?
To install use:
`{
"repositories": [
{
"type": "vcs",
"url": "https://github.com/sergey144010/php-imap-client",
"packagist": false
}
],
"require": {
"SSilence/php-imap-client": "dev-issue_17"
}
}`
Use as:
`
$imap = new ImapClient();
$folders = $imap->getFolders();
var_dump($folders);
`
Want to test it and tell me works properly or not.

[2016-12-21 19:18] sergey144010 commented on #65
I think need create docs/guide folders. Inside README.md with content like 'Install, Usage, Connect settings, Error' which will be links to the appropriate files. And accordingly create files Install.md, Usage.md and other. And in the future you can then create the appropriate folders with translations in various languages, like  docs/guide-fr,  docs/guide-de and other.

[2016-12-21 21:35] xXXIMMATTHEWXXx commented on #65
^^ sounds good to me

[2016-12-22 14:22] sergey144010 commented on #17
Or may be make pull request?

[2016-12-22 23:04] xXXIMMATTHEWXXx commented on #17
If it works it works if it don;t it dont :) That our lives :)
FR if it does not work then someone will make another issue and we can continue from their

[2016-12-23 09:40] sergey144010 commented on #65
https://github.com/composer/composer/blob/master/doc/01-basic-usage.md

[2016-12-23 09:41] sergey144010 commented on #65
Your pull request file composer.json

[2016-12-23 09:44] sergey144010 commented on #65
And may be add docs/guide folders. And Inside ... redme and etc. Because next step -> docs/guide-fr, docs/guide-de and other.

[2016-12-23 14:21] xXXIMMATTHEWXXx commented on #65
Fixed as of pr #68 Closing

[2016-12-23 14:22] #65 closed

[2016-12-24 00:44] xXXIMMATTHEWXXx commented on #42
Fixed with #71

[2016-12-24 00:45] xXXIMMATTHEWXXx commented on #17
The pull request has been merged. If this is solved with the latest version close it please :)

[2016-12-24 15:51] xXXIMMATTHEWXXx commented on #42
Closing as the fix has been merged!

[2016-12-24 15:51] #42 closed

[2017-01-02 14:40] Hirbod opened #74 "Can't install with composer"
[code]

Also tried to add "minimum-stability: dev", but it won't work. Giving up!

[2017-01-02 20:03] xXXIMMATTHEWXXx commented on #74
Hmmm! Never give up! I will investigate this!

[2017-01-02 20:06] xXXIMMATTHEWXXx commented on #74
Our package name did go lowercase, so i edited them in the files. Download all current files and try again

[2017-01-02 20:08] Hirbod commented on #74
I used this composer entry to install:
https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/Install.md

[2017-01-02 20:11] Hirbod opened #75 "Error in documentation / link broken"
The link to the "current list of methods" is broken.
Link to: https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/docs/guide-en/Methods.md

<img width="532" alt="bildschirmfoto 2017-01-02 um 21 10 11" src="https://cloud.githubusercontent.com/assets/504909/21595599/ee38255c-d12f-11e6-880d-9e10834873dc.png">

[2017-01-02 20:12] Hirbod commented on #74
It's not about usage problems, I just can't install with composer. Not sure if changing the namespace is the root for this problem.

[2017-01-02 20:18] xXXIMMATTHEWXXx commented on #74
It seems composer has trouble reading the library and knowing that it exist. I would register it so its a simple  `composer require` but i am waiting on @SSilence. For now ill look further into it and may rewrite composer.json. Thank you for _both_ of your issues!

[2017-01-02 20:18] xXXIMMATTHEWXXx commented on #75
Thanks! Will fix right now!

[2017-01-02 20:19] Hirbod commented on #74
you're welcome!

[2017-01-02 20:20] #75 closed

[2017-01-02 20:21] xXXIMMATTHEWXXx commented on #75
Fixed. Auto closed for some reason. Weird. But thank you again for reporting this!

[2017-01-02 20:21] Hirbod commented on #75
As soon as you send a PR with a #number, it will auto-close :)

[2017-01-02 20:22] xXXIMMATTHEWXXx commented on #75
Ooo fancy fancy !

[2017-01-02 20:56] xXXIMMATTHEWXXx commented on #74
I cant seem to find a way around this with out some re writing for composer to fully work. I currently dont have some, @sergey144010  @natanfelles  can you guys look into this?

[2017-01-04 18:09] xXXIMMATTHEWXXx commented on #17
I believe that this has been solved. No reply by original author within 12 days. Closing

[2017-01-04 18:10] #17 closed

[2017-01-04 18:27] xXXIMMATTHEWXXx commented on #67
Just noticed that this would also help with composer

[2017-01-04 23:00] xXXIMMATTHEWXXx commented on #74
I believe that this has been fixed, untill the first version (Big o' 2.0) release is out, use this command to install with composer: `composer require ssilence/php-imap-client dev-master`

[2017-01-05 21:09] xXXIMMATTHEWXXx commented on #74
Noted as not fixed. If anyone else can get this working please try as I cannot

[2017-01-06 07:12] sergey144010 commented on #74
Already fixed ?

[2017-01-06 12:12] xXXIMMATTHEWXXx commented on #74
It should be now. Someone fixed our namespace's so we just need someone to install via composer and init the script.

[2017-01-07 16:46] qualityplatforms opened #81 "Many notices and warnings"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
No notices and warnings

### If a bug, what happened?
When loading attachments i'll get many warnings and notices

### If a bug, list steps to reproduce bugs.
https://pastebin.com/heH1erzj <-- Error

`			require_once "external/PHP/ImapClient/ImapClientException.php";
			require_once "external/PHP/ImapClient/ImapConnect.ph

[2017-01-07 18:17] xXXIMMATTHEWXXx commented on #81
Thank you for reporting this! Do you mind showing your current code?

[2017-01-07 18:28] qualityplatforms commented on #81
No problem.

## controller
[code]

## model
[code]

[2017-01-07 18:47] qualityplatforms commented on #81
Some strange var_dumps:

## With no attachments
[code]

## With an attachment
[code]

[2017-01-07 19:02] xXXIMMATTHEWXXx commented on #81
Hmm. . . I'll look into this

[2017-01-07 19:03] qualityplatforms commented on #81
Matthew, do you need any other information?

[2017-01-07 19:03] xXXIMMATTHEWXXx commented on #81
Should be all I need, Thanks. If I need any more info ill be sure to ask

[2017-01-07 19:09] xXXIMMATTHEWXXx commented on #81
Did you install via composer or manually

[2017-01-07 19:14] qualityplatforms commented on #81
It's manually.

[2017-01-07 19:15] xXXIMMATTHEWXXx commented on #81
Thanks

[2017-01-09 21:32] xXXIMMATTHEWXXx commented on #74
Marked as closed. This should be fixed, If it is not comment back

[2017-01-09 21:32] #74 closed

[2017-01-09 21:33] xXXIMMATTHEWXXx commented on #57
This was fixed with #58. If it was not, please comment back

[2017-01-09 22:15] SonnyLCD commented on #57
Thanks xXXIMMATTHEWXXx

I will check with latest and get back if problem persists...

[2017-01-10 22:08] bonelifer opened #82 "Feature Request: Example script for extracting image attachements"
### Feature request

### If a feature request, what do you want to be added or changed?
An example script that checks if the Subject CONTAINS the "SuperSecretCODE" and then extracts GIF, JPG or PNG attachements to a folder and marks the mail as seen.

[2017-01-10 22:24] xXXIMMATTHEWXXx commented on #82
I like that. Will be added soon

[2017-01-11 10:31] SonnyLCD commented on #57
Hi!

I have tested, and is same with the latest version. I am developing an application where I register this Imap class as a service in a Phalcon PHP based application. We are using a Postfix mail server.

Images doesn't show up, only broken image. As example the source for the image file says:

`<img apple-inline="yes" id="95D04268-097B-47AD-A1E1-A32589291545" height="40" width="40" apple-width=

[2017-01-11 12:10] xXXIMMATTHEWXXx commented on #57
It will be looked into

[2017-01-11 18:55] SonnyLCD commented on #40
I have same problem, did you find a solution ?

[2017-01-11 18:57] xXXIMMATTHEWXXx commented on #40
Hello, I am reopening this issues, can you explain what you are trying to do what what happend?

[2017-01-11 19:10] SonnyLCD commented on #40
When fetching/reading 1 email.

Using method:

`getMessage() `

and subsequently

`formatMessage() `

only returns the name and not email of the sender.

I tried adding various tests to the email array like this:

[code]

But neither holds the email of the sender.

Let me know if I need to provide you with more info.

Many thanks!

[2017-01-11 19:52] xXXIMMATTHEWXXx commented on #40
try this:
edit
https://github.com/SSilence/php-imap-client/blob/master/ImapClient/ImapClient.php#L536
so that it looks like
`'from'      => $header->from[0],`
and tell me the output

[2017-01-11 19:59] SonnyLCD commented on #40
My bad! ... it returns the string like:

`John Smith <john.smith@domain.com>`

Is just a matter of splitting it. Would be nice if having a method to get each separately, but is not a big problem really.

[2017-01-11 20:01] xXXIMMATTHEWXXx commented on #40
Just what i was thinking. THANKS for reporting this. Will be fixed. For now ill keep it open

[2017-01-12 15:27] balucio opened #83 "The method deleteMessages($ids) only marks messages for deletion and does not really delete them"
### Feature request or bug

Method deleteMessage or deleteMessages should really delete message not only mark for deletion.

### If a bug, what did you expect to happen?

When deleteMessage is called, the message should be deleted (ie.moved to trash)

### If a bug, what happened?

Message are not deleted (Tested on Zimbra)

### If a bug, list steps to reproduce bugs.

Open an imap connection and c

[2017-01-12 15:28] xXXIMMATTHEWXXx commented on #83
Thank you for reporting this issue! It will be looked into!

[2017-01-12 15:35] #40 closed

[2017-01-12 15:38] xXXIMMATTHEWXXx commented on #83
https://github.com/SSilence/php-imap-client/blob/master/ImapClient/ImapClient.php#L616 seems to call expunge

[2017-01-12 17:28] xXXIMMATTHEWXXx commented on #83
Here is the current code for deleting messages:
[code]
As you can see, first, all messages are marked for deletion via imap_delete. Under that is some currently un-stable feature. Finally the code returns a Boolean from the imap_explunge function. This issue seems to be invalid to me. Let me know or this issue will be closed tomorrow

[2017-01-13 13:08] xXXIMMATTHEWXXx commented on #83
This is marked as invalid and because the OP did not respond within another day, this will be closed. It seems to do exactly what you said it should. If this is not the case comment back and i will reopen this. Thank you for opening this and we are ready to accept an further issues by you!

[2017-01-16 09:44] SonnyLCD commented on #83
Hi

And first of all, thanks for a great job with this imap client library.

Hmmm .. I have this problem on my mail server too, `deleteMessage()` does not work, at least not on my mail server.

We are using this imap class in a Phalcon setup against a postfix based mail server.

There is a general mixup between uid and msg_number, which comes from the PHP/IMAP library where they mix it up all the

[2017-01-16 20:28] xXXIMMATTHEWXXx commented on #83
Hmm. Ill look into it

[2017-01-17 08:34] SonnyLCD commented on #83
I tried removing FT_UID form this line in the deleteMessages() function:

`map_delete($this->imap, $id, FT_UID);`

to simply this:

`map_delete($this->imap, $id);`

And at least on my mail server this did the trick...

[2017-01-18 20:20] SonnyLCD commented on #57
Just an update. This library works great, I only have one issue left, which is images in messages.

Latest version seems to have changed a bit, now the image reference looks nicer, tried sending from both Gmail and Apple Mail.

Apple Mail sends images inline and there in no trace of the images in the emails, but they show up as attachments and can be downloaded without problems.

Gmail adds images

[2017-01-18 21:16] SonnyLCD commented on #57
I have been running through the script to find where things goes wrong.

And what I found is that the function:

`formatMessage()`

Returns this below (some html in message removed to simplify), where the icon.png file should show up embedded in email and not just as an attachment:

[code]

So we have the correct reference, plus we have the image file as an attachment, -so far so good.

But seems

[2017-01-18 23:00] GIAPB commented on #57
Hello im a bot that works for @xXXIMMATTHEWXXx :). It does seem we are close. I will continue to look into this

[2017-01-18 23:26] AndyKirkMPS commented on #83
The same fix by SonnyLCD worked on my Ubuntu 14, with Postfix and Courier

[2017-01-18 23:54] GIAPB commented on #83
Hello. This has been confirmed by @xXXIMMATTHEWXXx. Im the bot so ill do my job !

[2017-01-18 23:56] #83 closed

[2017-01-19 08:48] SonnyLCD opened #84 "About getMessagesByCriteria()"
Hi again

Earlier I was using getMessages() to get mail list, and the afterwards to fix pagination with the whole list. But after getMessagesByCriteria() was added I tried this, but had 2 issues.

I found solutions for both that works for us, so wanted to share it, just in case others have same problems.

**Mailbox order:**
First of all the imap script got the oldest mails first, also pagination d

[2017-01-20 13:10] xXXIMMATTHEWXXx commented on #84
@sergey144010  @natanfelles  @SSilence. I have done the same on my end. Can one of you guys test it as well so it comes from 3 sources? Please?

[2017-01-23 15:34] xXXIMMATTHEWXXx commented on #81
Hello. This issues seems to be linked to the other issue about attachments and it is being worked on. Try everything again with the latest version

[2017-01-23 17:02] qualityplatforms commented on #81
Well. I tried to update the system.

[code]

[2017-01-23 17:04] xXXIMMATTHEWXXx commented on #81
Hmm. This is thrown when the attachments name is null. Let me reverse what
I did and I'll comment back so you can test again. Thanks for helping
improve this library

[2017-01-23 17:06] qualityplatforms commented on #81
I think you must ignore the attachments instead of throw an exception. Otherwise you kill the system, like it's now happening ;)

[2017-01-23 17:09] xXXIMMATTHEWXXx commented on #81
Good idea! I will be sure to fix this up later:D

On Jan 23, 2017 12:06 PM, "Mark" <notifications@github.com> wrote:

I think you must ignore the attachments instead of throw an exception.
Otherwise you kill the system, like it's now happening ;)

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/SSilence/php-imap-client/issues/81#

[2017-01-23 17:51] Decksi commented on #81
Same Error here:

"Your attachments do not have a name. This should NOT be happening"

Just started a connection and requested the unread Messages :(

[2017-01-23 21:40] xXXIMMATTHEWXXx commented on #81
Try with the lastest commits

[2017-01-23 23:02] Decksi commented on #81
Nope. Sorry.:

Notice (8): Undefined offset: 0 [ROOT/vendor/ssilence/php-imap-client/ImapClient/ImapClient.php, line 579]
Notice (8): Trying to get property of non-object [ROOT/vendor/ssilence/php-imap-client/ImapClient/ImapClient.php, line 579]

[2017-01-24 23:58] candidoalbertosilva opened #87 "No validate Cert"
Add to code

$enc = '/imap/novalidate-cert';

[2017-01-25 00:10] xXXIMMATTHEWXXx commented on #87
I can't understand what your trying to ask here. Read the docs or open a new issue with the proper format

[2017-01-25 00:21] candidoalbertosilva commented on #87
public function __construct($mailbox, $username, $password, $encryption = false) {
        $enc = '';
        if($encryption!=null && isset($encryption) && $encryption=='ssl')
            $enc = '/imap/ssl';
        else if($encryption!=null && isset($encryption) && $encryption=='tls')
            $enc = '/imap/tls';
        **if($encryption=='novalidate-cert'){
              $enc = '/imap/novalid

[2017-01-25 00:24] xXXIMMATTHEWXXx commented on #87
Check the most recent code. ImapClient no longer makes the connection. This is done by another class

[2017-01-30 08:25] SonnyLCD opened #88 "Sent from macOS Mail, Inline attachment breaks email"
Hi

We noticed that if a user drops in an attachment inside an email (at least on Apple Mail), -like in between the text, then when opening it in (php-imap-client) webmail the mail is truncated just at the attachment, none of the content, text and so after this point is there.

The issue is probably in the `get_part()` function, here:

[code]

If I change to below, the whole email is there, but no

[2017-01-30 13:56] xXXIMMATTHEWXXx commented on #88
Sounds weird to me. Will look into it

[2017-01-30 15:06] xXXIMMATTHEWXXx commented on #87
https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/Usage.md#advanced-connecting will show you how to add no validate cert.

[2017-01-30 15:06] #87 closed

[2017-01-30 15:07] xXXIMMATTHEWXXx commented on #84
It appears no one else is going to confirm. Make a pr or i will later :)

[2017-02-03 18:50] SonnyLCD commented on #88
updated to latest version, and a lot of bugs are gone. I made some small fixes, I dont know if they are specific to our mail server, but will post them tomorrow.

Seems that this issue, that mail is truncated after an inline attachment now only is a problem when mail is sent from Apple Mail... Anyway, I will test and get back on this tororrow

[2017-02-03 20:08] xXXIMMATTHEWXXx commented on #88
Thanks! If you dont want to type it here feel free to make a pull request

[2017-02-03 20:12] SonnyLCD commented on #88
I will send it later with description. I made some small changes too, maybe specific to our mail server, but I will describe them...
As far as I can see this library only has a few smaller issues left to fix...

Great job!

[2017-02-03 20:13] #84 closed

[2017-02-03 20:13] xXXIMMATTHEWXXx commented on #88
Thanks!

[2017-02-03 20:55] SonnyLCD commented on #88
Thanks, the latest update is a big step forward.

However I still have issues with emails sent from macOs Mail, that makes a bit of a mess with attachments and other things.

The problem is still if you in a macOS mail place an attachment within the text, then the mail truncates the rest of the email when rendering the email with this library. The mail renders text until the inline attachment, but

[2017-02-04 07:55] SonnyLCD commented on #57
seems fixed in latest release, so will close this...

[2017-02-04 07:55] #57 closed

[2017-02-04 16:28] xXXIMMATTHEWXXx commented on #57
Thanks!

[2017-02-07 14:20] xXXIMMATTHEWXXx commented on #81
This should be fixed now. Try one more time

[2017-02-12 11:09] myspulin commented on #81
Hi, I did a small analysis of this issue, found a solution:

This is the call of function attachments2name($attachments)

dump of variable attachments:

array (size=7)
  'name' => string 'utf-8' (length=5)
  'partNum' => string '' (length=0)
  'enc' => null
  'size' => int 729
  'reference' => string '' (length=0)
  'disposition' => string 'attachment' (length=10)
  'type' => string 'HTML' (length

[2017-02-13 18:33] xXXIMMATTHEWXXx commented on #81
Updated. Github auto closed this. If the issues continues, comment back

[2017-02-13 18:34] xXXIMMATTHEWXXx commented on #88
I do believe i changed to code. Make sure i updated it all correctly

[2017-02-13 18:38] SonnyLCD commented on #88
I am using latest version ... is easy to reproduce actually. When writing an email in macOS Mail, then when writing an email, drop in a file, PDF, Excel or whatever in the mail, and write text again below.

Then when rendering mail in webmail using the library it cuts right where attachment was dropped in.

[2017-02-13 18:39] xXXIMMATTHEWXXx commented on #88
With the code you provided, does it work?

[2017-02-13 19:01] SonnyLCD commented on #88
no, I haven't been able to solve this problem. I know that macOS Mail handles Attachments in a non-standard way, like Content-Disposition.

As long as it is only images then no problem, they will render nicely.

But if you send another file like a Excel file, PDF or something that does not render, then mail is simply cut and does not render after the first attachment...

[2017-02-13 19:04] xXXIMMATTHEWXXx commented on #88
We need to look further into Mac os mail. Do you have a contact?

[2017-02-13 19:05] SonnyLCD commented on #88
a contact ?

[2017-02-13 19:07] xXXIMMATTHEWXXx commented on #88
Someone who develops for them or would know into?

[2017-02-13 19:12] SonnyLCD commented on #88
no, no insider contacts I'm afraid. But I googled the topic a lot, there is a lot of writing about it. So it is a wellknown issue. Is something about how to traverse the mail structure. I have some code to finish, but I will look into it sometime tomorrow and post what I find here in the thread...

[2017-02-13 19:20] xXXIMMATTHEWXXx commented on #88
Thanks. Let me know I'll do some digging aswell

[2017-02-15 08:06] SonnyLCD commented on #88
It seems that it is something with the encoding of the attachment that makes either: `formatMessage()` or `attachments2name()` break, when trying to render an non-image attachment inline.

For displaying the email we mainly have:

1. header
2. Mail body
3. Attachments

Problem is only rendering of the mail body. The attachments are all available in the attachments array.

So solution is to ignore

[2017-02-22 12:16] xXXIMMATTHEWXXx commented on #88
I have found some more info on this issue. It seems that mac mail tends to send attachments in the content disposition.

[2017-02-22 12:24] SonnyLCD commented on #88
yes exactly, I have the impression that somewhere down the road, when looping through the mail structure of an email with these attachments in an email from Mac Mail, the rendering gets derailed, and just stops. I was thinking to look into where this happens, and if we somehow can get the imap library to ignore it and carry on rendering the email, then it would be alright. We can extract the attac

[2017-02-22 12:52] xXXIMMATTHEWXXx commented on #88
Yeah. Only hard part for us is finding out when the loop stops or fails. I will continue to look into this

[2017-02-22 13:16] SonnyLCD commented on #88
yep, agree. I will look too...

[2017-02-22 22:51] MerzGH opened #92 "Bad message number - Warnings / Notices"
I have just installed php-imap-client. Connection, listing the folders and count the messages works fine. But I get a lot of warnings / notices if I try to get the messages. What am I doing wrong?

[code]

[code]

[2017-02-23 00:59] xXXIMMATTHEWXXx commented on #92
This appears to relate to another issue

[2017-02-23 12:15] xXXIMMATTHEWXXx commented on #92
This seems to relate to #81. Do you know whats on the mail server

[2017-02-23 17:17] xXXIMMATTHEWXXx commented on #92
Try with the lastest code changes

[2017-02-23 17:31] MerzGH commented on #92
Thank you! I'll give it a try and let you know

[2017-02-23 17:32] xXXIMMATTHEWXXx commented on #92
Thanks!

[2017-03-01 10:25] SonnyLCD opened #93 "Maybe a little bug in getAttachments() function"
### Feature request or bug
Bug.

Probably linked to the issue with mails sent from Apple Mail, with attachments sent as content disposition.

### If a bug, what happened?
IMAP library threw an error and stopped rendering inbox.

Fatal error: Uncaught Error: Cannot use object of type stdClass as array in /home/prod/falckbox-web-platform/app/vendor/imap/Imap.php on line 1096

The problem was in this

[2017-03-01 10:44] SonnyLCD commented on #93
oops, was too fast. It didn't just solve the problem, it also meant that library stopped rendering images in the mail..

[2017-03-01 13:36] xXXIMMATTHEWXXx commented on #92
@MerzGH did you ever find out if it worked?

[2017-03-02 16:55] MerzGH commented on #92
It works now, thank you! (sorry, I've forgotten it)

[2017-03-02 17:20] xXXIMMATTHEWXXx commented on #92
Perfectly fine! Feel free to open another issue if you find another and pr's are always welcome! Closing this!

[2017-03-02 17:20] #92 closed

[2017-03-08 16:57] megaket4up opened #94 "ErrorException in ImapClient.php line 428: array_reverse() expects parameter 1 to be array, boolean given"
When there are no letters in the box, imap_search($this->imap, $criteria) returns false.

ErrorException in ImapClient.php line 428:
array_reverse() expects parameter 1 to be array, boolean given

[2017-03-08 16:58] xXXIMMATTHEWXXx commented on #94
Thank you for reporting this! By letter do you mean emails?

[2017-03-08 16:58] megaket4up commented on #94
yes

[2017-03-08 16:59] xXXIMMATTHEWXXx commented on #94
Okay thank you! This just seems to be a simple null pointer check. Will be fixed soon. If you want you can can make a pull request or I will fix it up later

[2017-03-08 17:29] #94 closed

[2017-03-13 22:31] andykkkk opened #97 "Attachments"
How can I save attachments ?

[2017-03-13 22:35] xXXIMMATTHEWXXx commented on #97
This feature is currently a w.i.p if you would like to speed up this
process make a pull request

[2017-03-13 22:36] andykkkk commented on #97
ok. i`l see what I can do

[2017-03-13 22:39] xXXIMMATTHEWXXx commented on #97
Thanks we hope to get this working soon!

[2017-03-15 15:36] andykkkk commented on #97
so, i tried this code:
`public function downloadAttachment($uid, $partNum, $encoding) {

		$partStruct = imap_bodystruct($this->imap, imap_msgno($this->imap, $uid), $partNum);

		$filename = $partStruct->dparameters[0]->value;
		$message = imap_fetchbody($this->imap, $uid, $partNum, FT_UID);

		switch ($encoding) {
			case 0:
			case 1:
				$message = imap_8bit($message);
				break;
			case 2:

[2017-03-15 18:52] xXXIMMATTHEWXXx commented on #97
With one attachment correct?

[2017-03-15 19:51] andykkkk commented on #97
yes.

[2017-03-15 19:59] xXXIMMATTHEWXXx commented on #97
Our problem is with 2 or more attachments

[2017-03-15 20:00] andykkkk commented on #97
ok. i`ll see what i can do

[2017-03-15 20:01] xXXIMMATTHEWXXx commented on #97
Thank you

[2017-03-16 21:41] TrueShutDown opened #98 "Feature Request: message_id"
I think it is a good idea to add message_id to the array that is returned from the getMessage() function and more specifically to formatMessage().
This field identifies message between sessions and is important. #

[2017-03-16 22:15] TrueShutDown opened #99 "Attachment - charset file, bug"
Most attachments in emails are called the charset name

For example var_dump with getMessage() function:
[code]

I have solution for this. Problem may be solved by adding new value called attribute to array which is returned by getAttachments() function and to attachments2name() function.
`      "attribute"        => $parameters->attribute,`
For example:
[code]

If attachment have charset name the

[2017-03-17 10:54] xXXIMMATTHEWXXx commented on #98
Sounds great. I'll be sure to add this

[2017-03-21 20:08] TrueShutDown opened #101 "Bug in function getFolders()"
This problem is in during using IMAP in ovh. The imap_list function return
[code]
but function getFolders() return only:
[code]
Any ideas how to fix this?

[2017-03-21 21:15] xXXIMMATTHEWXXx commented on #101
Seems to be an issue with the multi-dimensional array. I'll look into it.

[2017-03-21 21:16] xXXIMMATTHEWXXx commented on #99
I'll be sure to look at it

[2017-03-22 09:51] sergey144010 commented on #101
If you config contains
`
$imap = new ImapClient([
...
    'mailbox' => [
        'mailbox_name' => 'INBOX',
    ],
...
]);
`
try this
`
$imap->getFolders('.',1);
`
and sends results

[2017-03-22 19:15] TrueShutDown commented on #101
Yes, my configuration contains maiblox_name. I used your parameters and got it

[code]
Seems to work.

but without parameters in gmail I have other structure.

[code]

I think this function should recognize and return same structure folder for various email account.

[2017-03-22 21:27] sergey144010 commented on #101
If possible, send to a second server (gmail) imap_list() function.

[2017-03-23 11:55] TrueShutDown commented on #101
Okay, no problem.
imap_list() function in gmail
[code]

[2017-03-23 16:08] sergey144010 commented on #101
Has corrected, we wait when they will take the pull request. And need use getFolders() method without 'mailbox_name' property in config, like this [ ... 'mailbox' => [ 'mailbox_name' => '', ], ... ].

[2017-03-23 17:00] sergey144010 commented on #101
Well, I've fixed something now, you can just use the getFolders () method, regardless of the configuration. But you need to wait for the pull request.

[2017-03-23 21:41] xXXIMMATTHEWXXx commented on #101
I have merged the pull request. Let me know if the error persist.

[2017-03-24 06:47] sergey144010 commented on #99
Check your note with the new source code.

[2017-03-24 06:48] sergey144010 commented on #98
Check your note with the new source code.

[2017-03-24 06:48] sergey144010 commented on #97
Check your note with the new source code.

[2017-03-24 06:48] sergey144010 commented on #93
Check your note with the new source code.

[2017-03-24 06:49] sergey144010 commented on #88
Check your note with the new source code.

[2017-03-24 12:17] xXXIMMATTHEWXXx opened #107 "Lets fix up these docs"
Hello! Thank you, everyone, for your recent contributions and hopefully, we have fixed the issue on attachments. I have noticed that as I have been merging pull request, I was not checking and making sure proper documentation was added. A few files do not have proper documentation. The list is below. I will work with some and get them commented. We also need to note that when we make new files the

[2017-03-24 16:56] sergey144010 commented on #82
Check your note with the new source code.
Try this
$imap->saveAttachmetsMessagesBySubject('Special text', 'path/to/save/attach', 'charset for special text');

[2017-03-24 18:14] xXXIMMATTHEWXXx commented on #82
Speaking of that. I was wondering if you would add attachment extraction to
the examples

[2017-03-25 13:58] xXXIMMATTHEWXXx commented on #107
Closing this later. I'm pretty sure its all done.

[2017-03-25 19:59] Jarlskov commented on #81
I get the `Your attachments do not have a name. This should NOT be happening` error as well.

This is the code where I try to read the messages.

[code]

My issue seems to be in `ImapClient` line 1136, 1138 and 1139.
The `$attachments` array I get is an array with child arrays:
[code]
The issue is that when looping through the array, the code looks for the name in a child of the child arrays `if (

[2017-03-25 20:44] xXXIMMATTHEWXXx commented on #81
Okay. This is with the latest code correct?

[2017-03-26 00:18] Jarlskov commented on #81
I've run composer update today to be sure.

[2017-03-26 00:19] xXXIMMATTHEWXXx commented on #81
The issue is still there? As far as I know that error was removed. Will
check in a minute though

[2017-03-26 00:23] Jarlskov commented on #81
Yes, it's still looking for a child array in `$attachment` https://github.com/SSilence/php-imap-client/blob/master/ImapClient/ImapClient.php#L1136

[2017-03-26 00:26] xXXIMMATTHEWXXx commented on #81
Thank you. I'll look in to fixing it in just a bit

[2017-03-26 00:33] Jarlskov commented on #81
If it's just a matter of removing the 0-key lookup I can submit a PR on it tomorrow, I just don't know IMAP well enough to know if that's a good solution.

[2017-03-26 07:48] sergey144010 commented on #81
Try like this
`
        if ($imapClient->countUnreadMessages()) {
            $messagesArray = $imapClient->getUnreadMessages();
        }
`

[2017-03-26 07:51] sergey144010 commented on #81
next, for example
`
foreach($messagesArray as $inMessage){
    var_dump($inMessage->message->plain);
};
`

[2017-03-26 07:58] sergey144010 commented on #81
or
`
foreach($messagesArray as $inMessage){
    $imapClient->saveAttachments(['dir' => "your/path/", 'incomingMessage' => $inMessage]);
};
`

[2017-03-26 08:14] sergey144010 commented on #81
And please write here, this way is working or not.

[2017-03-26 09:13] Jarlskov commented on #81
`getUnreadMessages()` seems to work without blowing up. I think I can make my use case work that way, but it doesn't really solve the core issue since it's another use case.
The `saveAttachments` probably won't help me, since I really don't care about the attachments, and I don't think any of the emails have any real attachments.

[2017-03-26 10:04] sergey144010 commented on #81
Try it after take pull request.

[2017-03-26 10:45] Jarlskov commented on #81
I'm not sure what you want me to do :/

[2017-03-27 11:27] xXXIMMATTHEWXXx commented on #81
We wants you to test after his latest pull request. Which I just merged

[2017-03-27 11:29] xXXIMMATTHEWXXx commented on #107
All docs have been verified. Thanks everyone.

[2017-03-27 11:29] #107 closed

[2017-03-29 11:22] xXXIMMATTHEWXXx commented on #101
OP is inactive. Marked as inactive.

[2017-03-29 11:24] xXXIMMATTHEWXXx commented on #99
Please, retry your code with our new updates. If no response gives this issue will be marked as inactive.

[2017-03-29 11:24] xXXIMMATTHEWXXx commented on #98
This feature was added by @sergey144010. Closing this issue!

[2017-03-29 11:24] #98 closed

[2017-03-29 11:26] xXXIMMATTHEWXXx commented on #97
Please, Check your code with, our latest updates. If you do not respond in the next few days this issue will be marked as solved and closed.

[2017-03-29 11:27] xXXIMMATTHEWXXx commented on #93
Please, check your code without latest updates. If you do not respond soon, this issue will be marked as solved.

[2017-03-29 11:29] xXXIMMATTHEWXXx commented on #88
This issue should be fixed with our latest updates. For now, this is marked as inactive.

[2017-03-29 11:30] xXXIMMATTHEWXXx commented on #82
This issue has been fixed with our latest code. It is now possible and docs are being updated. Thank you for helping our library!

[2017-03-29 11:30] #82 closed

[2017-03-29 11:31] xXXIMMATTHEWXXx commented on #81
This issue seems to be fixed with our latest updates, @Jarlskov please let us know if there is still an issue or not.

[2017-03-30 13:09] TrueShutDown commented on #101
Seems to works good :)

[2017-03-30 13:17] xXXIMMATTHEWXXx commented on #101
Thank you!

[2017-03-30 13:17] #101 closed

[2017-03-31 22:43] TrueShutDown opened #112 "Bad encoding in subject and body message"
I'm getting email via getMessage() function and subject and body are not poperly decoding.

dumped results from getMessage function:
[code]

The subject should contain:

`test1 ążźććśżźćą`

and body
[code]

[2017-03-31 22:51] TrueShutDown opened #113 "Missing CC and BCC"
Message which return **getMessage()** function not contains **CC** and **BCC** information. This information are avalible in header message.
http://php.net/manual/en/function.imap-headerinfo.php
I think all data should be available form native imap_headerinfo function.

[2017-03-31 23:54] abdullahseba opened #114 "Need a flagged and seen property."
### Feature request or bug
This is a promising project but a few more methods would be very welcome.
I was using Afterlogic webmail which has a nice lot of functions including flagged  and IsSeen.
https://afterlogic.com/docs/webmail-lite/integration-and-development/web-api/receiving-mail
https://afterlogic.com/docs/webmail-lite/integration-and-development/web-api

[2017-04-01 00:08] xXXIMMATTHEWXXx commented on #114
I will look futher into this and see it it can be added!

[2017-04-01 00:10] xXXIMMATTHEWXXx commented on #113
I wil be sure to get this added!

[2017-04-01 00:11] xXXIMMATTHEWXXx commented on #112
Hmm. Let me investigate

[2017-04-01 13:04] xXXIMMATTHEWXXx commented on #112
This may be due to the fact that those are special characters. We currently do not support them so let me get right on that!

[2017-04-01 13:53] xXXIMMATTHEWXXx commented on #114
I have added this compatibility with my latest commits. Check the getHeaderInfo function

[2017-04-01 13:53] xXXIMMATTHEWXXx commented on #113
I have added this compatibility with my latest commits. Check the getHeaderInfo function

[2017-04-01 14:54] abdullahseba commented on #114
Thanks but it seems to be causing an error:
`Parse error: syntax error, unexpected 'funtion' (T_STRING), expecting variable (T_VARIABLE) in C:\xampp\htdocs\php-imap-client-master\ImapClient\IncomingMessage.php on line 323`

[2017-04-01 15:15] xXXIMMATTHEWXXx commented on #114
I have ficrd this issue

[2017-04-01 18:22] abdullahseba commented on #114
Assuming my code is correct I'm still getting `Uncaught  error 'Imap' not found`
[code]

[2017-04-01 18:24] xXXIMMATTHEWXXx commented on #114
ImapClient is the correct class name. Will update docs

[2017-04-01 18:52] TrueShutDown commented on #112
Before update special (polish) characters worked properly.

[2017-04-01 21:37] abdullahseba commented on #114
Finally got through 🥇 . But
[code]
returns a "Array to string conversion"  error.

[2017-04-01 21:52] abdullahseba commented on #114
`implode()` works...

[2017-04-02 01:02] xXXIMMATTHEWXXx commented on #114
Hmm... We may need to call implode internally

[2017-04-02 01:04] abdullahseba commented on #114
Yeah.. A json output would also be useful.

[2017-04-02 01:05] xXXIMMATTHEWXXx commented on #114
AH! I forgot to convert the array to json! Will do!

[2017-04-02 10:02] sergey144010 commented on #112
Try to use it.
`
$subject = imap_mime_header_decode ( $obj->header->subject );
$subject = imap_mime_header_decode ( $obj->message->plain);
`
And write the result.

[2017-04-02 11:07] sergey144010 commented on #114
`
    /**
     * Returns all available folders
     *
     * @param string $separator. Default is '.'
     * @param int $type. Has three meanings 0,1,2.
     * If 0 return nested array, if 1 return an array of strings, if 2 return raw imap_list()
     * @return array with folder names
     */
    public function getFolders($separator = null, $type = 0)
`

[2017-04-02 12:10] sergey144010 commented on #112
I need your
`
$imap->incomingMessage->message->info
`
or at least
`
$imap->incomingMessage->message->info[0]->structure->encoding
or
$imap->incomingMessage->message->info[1]->structure->encoding
`

[2017-04-02 21:38] TrueShutDown commented on #112
imap_mime_header_decode ($obj->header->subject)

[code]
imap_mime_header_decode ( $obj->message->plain)
[code]
$imap->incomingMessage->message->info

[code]

[2017-04-02 22:14] abdullahseba commented on #114
Why don't the docs mention this?

[2017-04-02 22:28] xXXIMMATTHEWXXx commented on #114
That will be added. Thank you for pointing that out. We are currently ironing out our docs,

[2017-04-02 22:29] xXXIMMATTHEWXXx commented on #113
This has officially been added to our imap structure.

[2017-04-02 22:29] #113 closed

[2017-04-03 07:28] sergey144010 commented on #112
To fix the encoding problem in your message, I need your help. I need you to install this package from my repository, as follows.
`
{
    "repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/sergey144010/php-imap-client",
			"packagist": false
        }
    ],
    "require": {
        "SSilence/php-imap-client": "dev-master"
    }
}
`
And showed me again
`

[2017-04-03 10:24] TrueShutDown commented on #112
Your repo working :) subject and body have correct encoding
[code]

[2017-04-03 12:30] xXXIMMATTHEWXXx commented on #112
@sergey144010. Your repos latest code is working. Please make sure your code is stable and documented and make a pull request. I will gladly merge it.

[2017-04-03 12:33] xXXIMMATTHEWXXx commented on #114
Fixing with my doc updates.

[2017-04-03 12:33] #114 closed

[2017-04-03 12:33] xXXIMMATTHEWXXx commented on #97
Issues closed due to inactivity. Solved a good bit ago.

[2017-04-03 12:33] #97 closed

[2017-04-03 12:34] xXXIMMATTHEWXXx commented on #93
Marked as inactive.

[2017-04-03 12:35] xXXIMMATTHEWXXx commented on #81
Closed for inactivity. This issue has been resolved.

[2017-04-03 12:35] #81 closed

[2017-04-03 12:36] xXXIMMATTHEWXXx commented on #88
Marked as inactive 5 days ago and there is still no reply. This issues has been fixed with our latest updates. Closing...

[2017-04-03 12:36] #88 closed

[2017-04-03 19:56] sergey144010 commented on #112
So this is a very interesting question. As you can see your mail server gives this letter and says that it is encoded with 8bit encoding. You can see it here:
[code]
So the body of the letter SHOULD BE decoded with the imap_8bit () method. This is logical.
That now happens in the current version in this repository.
If this is removed, then it will not be logical.
Because this is the reason for dec

[2017-04-03 20:55] sergey144010 commented on #112
The question is whether the encoding 8bit should be decoded?

[2017-04-04 11:16] xXXIMMATTHEWXXx commented on #112
I think **_everything_** should be decoded. Devs don't need to worry about a // hack comment that lets they know they are hacking around our library. So yes

[2017-04-04 14:19] sergey144010 commented on #112
I changed it. Pull. Check.

[2017-04-04 17:50] xXXIMMATTHEWXXx commented on #112
Merged. Please check your code with out latest updates

[2017-04-04 17:51] xXXIMMATTHEWXXx commented on #99
I do believe this has been fixed. @TrueShutDown please comment back!

[2017-04-05 12:02] xXXIMMATTHEWXXx commented on #93
OPInactive. We assume this issue has been fixed as I have merged the pull request and this appears to be fixed. Closing...

[2017-04-05 12:02] #93 closed

[2017-04-05 15:45] hhdivil opened #117 "Should be able to access filename for an attachment without looping over dparameters"
This is what I'm doing to get the filename for an attachment - would be better if each attachment was a custom object and could just call a method on that object to get the filename - e.g. getFilename()

`$name = '';
foreach ($att->structure->dparameters as $dparam) {
  if ($dparam->attribute == 'filename') {
    $name = $dparam->value;
    break;
  }
}`

[2017-04-05 18:39] xXXIMMATTHEWXXx commented on #117
So you mean an object like how our messages are. IncomingMessage and OutgoingMessage?

[2017-04-05 18:41] hhdivil commented on #117
Yeah that would be sweet! I can probably lend a hand if you need let me
know :)

On 5 Apr 2017 19:39, "Matthew Parks" <notifications@github.com> wrote:

[2017-04-05 18:44] xXXIMMATTHEWXXx commented on #117
We always take help! I will add this to the list and make sure it gets done! Feel free to open a pull request!

[2017-04-05 22:49] TrueShutDown opened #120 "Fatal error: Undefined class constant 'types'"
After update I'm getting an error
[code]

[2017-04-05 23:01] hhdivil commented on #120
Pull request up with fix
https://github.com/SSilence/php-imap-client/pull/121/files

[2017-04-06 11:23] xXXIMMATTHEWXXx commented on #120
This was due to a typo in a pr. I did not catch it!

[2017-04-06 11:23] #120 closed

[2017-04-06 11:30] xXXIMMATTHEWXXx commented on #99
This issue is assumed to be solved. No reply from OP and we have merged fixes,

[2017-04-06 11:30] #99 closed

[2017-04-06 12:18] TrueShutDown commented on #113
Incoming (sended) message still have't BCC and CC.

[2017-04-06 12:24] TrueShutDown opened #122 "Send message still haven't BCC and CC."
Hi
Incoming (send) message still haven't BCC and CC.

[2017-04-06 12:53] xXXIMMATTHEWXXx commented on #122
By send you mean messages that are received by our library? If so yes, cc and bcc is added.
[code]

[2017-04-06 13:37] TrueShutDown commented on #122
Okay sorry my mistake. I read email from drafts folder and he not contained bcc and cc.

[2017-04-06 13:38] #122 closed

[2017-04-06 13:38] xXXIMMATTHEWXXx commented on #122
All good :)

[2017-04-06 13:39] xXXIMMATTHEWXXx commented on #112
@TrueShutDown is this issue fixed?

[2017-04-07 11:46] MSAyrese opened #123 "HTML body not returning"
Hi and thanks for this.

I use "getMessage" method like this to get a specific Email: `$imap->getMessage(2);`
I get many information such as "Plain Message Body" But I can't see "HTML Body".

Please help me that Can I get HTML Body of a email by it's ID.

Thanks a lot.

[2017-04-07 13:53] sergey144010 commented on #123
Show your $imap->inMessage->message->info.
If there is no html, then it does not exist.

[2017-04-07 13:55] sergey144010 commented on #123
See the example
https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/IncomingMessage.md#message-properties

[2017-04-07 13:59] sergey144010 commented on #123
If the letter contains html. That access to it can be obtained in this way
$imap->incomingMessage->message->html

[2017-04-07 14:02] sergey144010 commented on #123
Use validation like this
[code]

[2017-04-07 15:50] MSAyrese commented on #123
Thanks all.
Problem solved.

[2017-04-07 15:50] MSAyrese commented on #123
Thanks all.
Problem solved.

[2017-04-07 15:50] #123 closed

[2017-04-07 16:36] MSAyrese opened #124 "Attachment functions running while I don't have any attach in my emails"
### If a bug, what happened?

When I Called '$imap->getMessagesByCriteria('ALL', 5, 1);' to get messages (or search), I get this Error Message: `Uncaught Error: Cannot use object of type stdClass as array` that it solved by Issue #93 solution.

After Solving this Problem I get another error in Attachment functions while I don't have any attach in my emails:

`Message: Undefined property: stdClass:

[2017-04-07 17:10] hhdivil commented on #67
Yes definitely do this!  Create a dev branch we can fork from that instead

[2017-04-07 17:12] hhdivil commented on #124
Any chance you can say what code you're using to produce the error?

[2017-04-07 17:21] MSAyrese commented on #124
Hello hhdivil,
I just edited ImapClient class in order to solve problem said in #93 .
Then I called `$imap->getMessagesByCriteria('ALL', 5, 1);` to get first 5 email.

After opening my php file I get this Error:
`Undefined property: stdClass::$value`
`Filename: ImapClient.php`
`Line Number: 1380`
`Function: getAttachments`

**AND**

`Type: ImapClientException`
`Message: Your attachments do not hav

[2017-04-07 17:21] hhdivil commented on #124
Nevermind I got it.  Line 1381 of ImapClient class:

[code]

You must have some weird attachments on that e-mail - maybe it's an image embedded in the signature?

You could always do this between lines 1379 and 1380 and let us know what you get
[code]

[2017-04-07 17:24] MSAyrese commented on #124
After var_dump($parameters) I get this result:
`object(stdClass)[105]`
`  public 'attribute' => string 'charset' (length=7)`
`  public 'value' => string 'us-ascii' (length=8)`

[2017-04-07 17:25] hhdivil commented on #124
ah drop the exit, it'll be the last one in the loop.  sorry my bad

[2017-04-07 17:25] hhdivil commented on #124
can you give me the var_dump($part); as well?  might be some interesting info in there - i edited my comment above

[2017-04-07 17:32] MSAyrese commented on #124
I realized your edit.
This is result (I wrote "**//--Error**" when Error occurred and I Removed file path).

[code]

[2017-04-07 17:36] sergey144010 commented on #124
getMessagesByCriteria() method now does not work correctly, it has not yet been rewritten. Therefore, you have mistakes.

[2017-04-07 17:38] MSAyrese commented on #124
Now, how can I search in mails? @sergey144010

[2017-04-07 17:39] sergey144010 commented on #124
It uses an outdated method $this->formatMessage($id, $withbody, $embed_images);
It must be replaced by $this->getMessage($id);

[2017-04-07 17:39] MSAyrese commented on #124
@SSilence Please solve this problem.

[2017-04-07 17:40] sergey144010 commented on #124
Wait for replacement or use imap_serch()
http://php.net/manual/en/function.imap-search.php

[2017-04-07 17:41] hhdivil commented on #124
make the method private if it does not work?

On 7 Apr 2017 18:40, "sergey144010" <notifications@github.com> wrote:

[2017-04-07 17:41] MSAyrese commented on #124
Thanks @sergey144010

I must do this replace in `getMessagesByCriteria()` function?

[2017-04-07 17:43] sergey144010 commented on #124
Try this

[code]

[2017-04-07 17:44] sergey144010 commented on #124
And write works or not.

[2017-04-07 17:46] xXXIMMATTHEWXXx commented on #117
Fixed with merged pr

[2017-04-07 17:46] #117 closed

[2017-04-07 17:50] MSAyrese commented on #124
Thanks a lot @sergey144010
It Worked.

Now I noticed When I get a list of emails by `getMessagesByCriteria()` or `getMessages()` the result not said me that this email is in 'Unread' or 'Read' state.

[2017-04-07 17:51] sergey144010 commented on #124
Letters are considered read.

[2017-04-07 17:52] sergey144010 commented on #124
Soon I will fix this code.

[2017-04-07 17:59] MSAyrese commented on #124
Your mean is in `getMessagesByCriteria('ALL')` function only read state email returned?
When I get emails with this function, I see `Unseen` in header. This specific 'Unread' or 'Read' state?

Another problem: when call `getMessagesByCriteria('ALL')`, all 'unread' emails marked as 'read' without allow.

[2017-04-07 19:10] sergey144010 commented on #124
OK I will think about it.

[2017-04-08 08:06] sergey144010 commented on #124
We corrected, update and try a new version.

[2017-04-08 10:35] MSAyrese commented on #124
Thanks @sergey144010
Now, what I must do? Download again?

[2017-04-08 10:37] hhdivil commented on #124
if you use composer just type composer update

On 8 Apr 2017 11:35, "Mahdi Sinor" <notifications@github.com> wrote:

[2017-04-08 10:44] MSAyrese opened #127 "Unicode BIG Problem in plain body"
I have some emails with unicode encoding. When I try to get plain body of each of them I get an string like this:
`=D9=85=D8=AA=D9=86 =D9=81=D8=A7=D8=B1=D8=B3=DB=8C=20 =D8=A7=D8=B2 =D9=86=D9=88=D8=B9`

I searched in web for a solution to decode/convert this string to unicode/UTF-8 but problem not yet solved.
It's not deference whether emails in HTML format or not. All non-English email (Arabic or

[2017-04-08 12:57] xXXIMMATTHEWXXx commented on #127
Are you saying it shows normally in plain or html bodys?

[2017-04-08 13:05] xXXIMMATTHEWXXx commented on #127
We do have our `convertToUtf8` function. Try using that and let me know what it does please.

[2017-04-09 08:16] sergey144010 commented on #127
Show me your $imap->incomingMessage->message->info

[2017-04-09 08:25] sergey144010 commented on #127
And write a correct result, if possible.

[2017-04-09 16:34] xXXIMMATTHEWXXx opened #128 "Project 2.0"
We need to get _EVERYTHING_ listed [here ](https://github.com/SSilence/php-imap-client/projects/1)into the DONE colum. Lets get ready for the big 2.0 release!!!!!

[2017-04-10 09:44] hhdivil opened #130 "Deleting incoming messages"
While looping over incoming messages, calling the deleteMessage() function doesn't appear to work - the message is still there the next time.  Also there's no way to get the ID of a message from the IncomingMessage object.

[code]

[2017-04-10 09:56] hhdivil commented on #130
OK I figured it out - you have to use the "uid" not the "id" to delete a message - but the "uid" property on the IncomingMessage object was null, so you have to do the following which is weird really:

[code]

Shouldn't there just be a deleteMessage() function on the IncomingMessage class itself?

[2017-04-10 13:36] MSAyrese commented on #127
Everything is OK when I vard_ump($imap->incomingMessage);

I downloaded files again in github and after test now Everything is OK!!!

[2017-04-10 15:04] xXXIMMATTHEWXXx commented on #127
Hmmm.. It works now with our latest up to date code?

[2017-04-10 15:06] xXXIMMATTHEWXXx commented on #130
So this deleteMessage would 1) Delete the message from the inbox 2) Null the object correct?

[2017-04-10 15:07] xXXIMMATTHEWXXx commented on #124
@MSAyrese is this still an issue?

[2017-04-10 15:08] xXXIMMATTHEWXXx commented on #112
We assume this issue has been fixed @TrueShutDown. We have merged pull request that we believe fix this issue!

[2017-04-10 15:08] #112 closed

[2017-04-10 16:34] sergey144010 commented on #130
Message id is obtained this way
[code]

See http://php.net/manual/ru/function.imap-fetch-overview.php
Id in IncomingMessage must be private, therefore.
You can also use method
[code]

But we'll think about this.
[code]

This should be added to the documentation.
[code]

[2017-04-10 18:13] sloothword commented on #112
Not usre if this is related, but I tried with the latest update (eaf55dbb0772d5a209b62e2da875ae17c6fcbf47) and still get subjects like

instead of

[2017-04-10 19:10] sergey144010 commented on #112
You did ``composer update``?

[2017-04-10 20:19] sloothword commented on #112
Yep. Did it again (no change):

    Checking out 0fbccd3fe6d5fc1965102eb7f6fd96679f7c1de6

[2017-04-10 20:42] sloothword commented on #112
ok i started debugging it:

[code]

If i move `$this->decode();` to the end of the function it works.

[2017-04-11 07:01] sergey144010 commented on #112
I understand, now we'll fix it.

[2017-04-11 15:41] sergey144010 commented on #127
Please do `composer update`. Try it. And if everything is okay, we cover the topic.

[2017-04-11 15:43] sergey144010 commented on #112
Please do `composer update` . Try it. And if everything is okay, we cover the topic.

[2017-04-11 15:49] sergey144010 commented on #124
I think can close the topic.

[2017-04-11 17:09] xXXIMMATTHEWXXx commented on #124
Yeah.. No response and we have fixed the issue

[2017-04-11 17:09] #124 closed

[2017-04-11 17:09] xXXIMMATTHEWXXx commented on #112
@TrueShutDown ping

[2017-04-11 17:10] xXXIMMATTHEWXXx commented on #127
@MSAyrese ping

[2017-04-11 19:45] TrueShutDown opened #132 "File name and bytes in attachment"
After last update I lost access to structure object in attachment, so I can't get name and bytes from attachment :(

This is dump from IncomingMessage object after recive message
[code]

[2017-04-11 20:29] TrueShutDown opened #133 "Bad encoding in body and subject message"
Bad encoding in body and subject message.

**Subject:**
`[subject] => B造skawiczna metoda odchudzaj帷a. Mo瞠sz schudn望 nawet 15 kg.`

Correct:
`[subject] => Błyskawiczna metoda odchudzająca. Możesz schudnąć nawet 15 kg.`

**Body:**
`(...)<title>P豉ski brzuch, smuk豉 talia - wystacz?2 tygodnie!</title>(...)`

Correct:
`(...)<title>Płaski brzuch, smukła talia - wystaczą 2 tygodnie!</title>(...)`

**Var d

[2017-04-12 11:17] sergey144010 commented on #132
[code]
This does not work?

[2017-04-12 11:47] sergey144010 commented on #132
I'm testing, working.
[code]

[2017-04-12 11:49] sergey144010 commented on #132
File name
[code]
Attachment
[code]

[2017-04-12 12:22] sergey144010 commented on #133
Can you send this email to me? sergey144010 gmail.com

[2017-04-12 12:42] MSAyrese commented on #127
Yes.

[2017-04-12 12:42] #127 closed

[2017-04-12 12:53] MSAyrese opened #134 "No Attachments in $imap->IncomingMessage while the Email have attachment"
### You can see I have a attach in my email:

![](https://cloud.githubusercontent.com/assets/20723864/24958426/7fd5d24e-1fa4-11e7-9e30-276abf80744b.png)

### But in the returned data in $imap->IncomingMessage I can't see any information about it:

![](https://cloud.githubusercontent.com/assets/20723864/24958478/a5cc5d42-1fa4-11e7-9463-d4c20668f9bf.png)

## How can I solve this problem?

[2017-04-12 13:33] sergey144010 commented on #134
Have you updated the code?

[2017-04-12 13:35] sergey144010 commented on #134
Now there is no attachment,  but is attachments

[2017-04-12 13:35] sergey144010 commented on #134
[code]

[2017-04-12 13:36] sergey144010 commented on #134
[code]

[2017-04-12 17:16] TrueShutDown commented on #133
I send e-mail to you from shutjunk (at) wp.pl. Check SPAM folder, because this message is ad.

[2017-04-12 17:59] sergey144010 commented on #133
I will sort this out.

[2017-04-12 18:55] MSAyrese commented on #134
Yes.

It haven't 'attachments' property.
It have 'attachment' property (it is NULL).

[2017-04-12 19:04] MSAyrese commented on #124
Problem Solved.

[2017-04-12 19:54] sergey144010 commented on #134
You are using the old version of the code, do
[code]
Now, for example see there https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/IncomingMessage.md#attachments-properties

[2017-04-12 19:56] MSAyrese commented on #134
@sergey144010 I updated Now.
But I still have the issue.

[2017-04-12 19:58] MSAyrese commented on #133
Also this problem is in getBriefInfoMessages();

[2017-04-12 19:58] sergey144010 commented on #134
show me your
[code]

[2017-04-12 20:04] MSAyrese commented on #134
@sergey144010
This Is a screen shot of var_dump of incomingMessage:

![mailbox-test](https://cloud.githubusercontent.com/assets/20723864/24977025/f2ebe908-1fe0-11e7-96ea-9c84d3cf2c11.jpg)

[2017-04-12 20:18] sergey144010 commented on #134
Well, it's better. Now show
[code]

[2017-04-12 20:56] sergey144010 commented on #133
Try this and show me
[code]

[2017-04-13 07:30] sergey144010 commented on #133
Where do you put var_dump() ?
You have Notepad++ program ?
If you write in the script like this:
[code]
And write the output to a file, like this:
[code]
And then open it in Notepad++. You will see the correct string.
Same thing with this:
[code]
And choose the ISO 8859-2 encoding.

If you display var_dump() or echo() in a browser or console, then they need to specify iso-8859-2 encoding.

Check i

[2017-04-13 14:54] filipefreitas82 opened #136 "Can't move message to another mailbox"
Here is the test code:

`echo "Searching...".PHP_EOL;

$emails = $this->imap->getMessagesByCriteria('FROM "me@test.test"');

print_r('Searh result: ' . count($emails) .PHP_EOL);

/** @var IncomingMessage $email */
foreach($emails as $email) {
        if($this->imap->moveMessage($email->header->uid, 'test'))
                echo "Move successesfull!".PHP_EOL;
        else
                echo "Move

[2017-04-13 16:29] sergey144010 commented on #136
You need specify a mailbox as [Gmail]/Test or INBOX.Test
Try getFolders(null, 2) and look at the folder.

[2017-04-13 17:08] sergey144010 commented on #136
[code]

[2017-04-13 17:12] filipefreitas82 commented on #136
Thats it. Forgot the INBOX.
Thanks sergey

[2017-04-13 17:12] #136 closed

[2017-04-13 18:35] xXXIMMATTHEWXXx commented on #132
Is this issue solved?

[2017-04-13 19:31] MSAyrese commented on #134
![mailbox-test](https://cloud.githubusercontent.com/assets/20723864/25020939/8b44930c-20a5-11e7-9b80-f94dfd401657.jpg)

[2017-04-13 20:58] sergey144010 commented on #134
Ok, now
[code]
For a faster and more detailed study, it would be good to do `php scripMail.php > debug.txt` and lay it out in any cloud. And delete important information for you. And give a link to the file. if it is possible.

[2017-04-14 09:39] MSAyrese commented on #134
I'm using [CodeIgniter](https://codeigniter.com) and it's not able to do `php scripMail.php > debug.txt `

Here is 3 screen shot of var_dump.

In `var_dump($imap->incomingMessage->structure->parts[1]->parameters);` and `var_dump($imap->incomingMessage->structure->parts[1]->dparameters);` I can see my attachment name (attachment name: site@******.com.mobileconfig).

At the end of result of `var_dum

[2017-04-14 20:04] TrueShutDown commented on #132
Yes, seems to work. I can't find reason why this before not worked. Ok topic maybe closed. Thanks

[2017-04-14 20:53] TrueShutDown commented on #133
Ok, I write in script
` iconv('iso-8859-2', 'utf-8', $email->header->subject)`
and this working.

maybe good idea is add option who allow recognize and auto convert body and subject to utf-8?

Thanks

[2017-04-14 21:07] sergey144010 commented on #134
Ok, then
[code]

[2017-04-14 21:14] sergey144010 commented on #133
The updated version of the code contains the encoding field here `$imap->incomingMessage->message->html->charset`. It's all for now. Then we'll see.

[2017-04-14 21:16] sergey144010 commented on #133
You can also completely disable decoding and see how the original string looks.
`getMessage($id, $decode = IncomingMessage::NOT_DECODE)`

[2017-04-14 21:46] TrueShutDown commented on #133
Ok, Thank you for support :)

[2017-04-14 21:46] #133 closed

[2017-04-14 21:46] #132 closed

[2017-04-14 21:59] TrueShutDown commented on #134
I don't know it will be helpful, but debugger and var_dump have some limits and sometimes not show long content.

in php.ini
[code]

for show full output I recommend using this code:
`file_put_contents('debug.txt', print_r($array, true))`
or
`file_put_contents('debug.txt', print_r($array, true), FILE_APPEND)`

[2017-04-15 00:55] tonym65 commented on #134
Hello i had the same problem and i changed this code:
private function getRecursiveSections($obj, $recursive = 1)
    {
        $this->section .= $recursive.';';
        if(!isset($obj->parts)){
            return;
        };
        foreach($obj->parts as $key => $subObj){
            echo 'drinne '.$zahler;
            echo '</br>';
            if($key != 0){
                $this->section .= $r

[2017-04-15 00:56] tonym65 commented on #134
filename: IncomingMessage.php

[2017-04-15 10:52] MSAyrese commented on #134
Thanks @tonym65
But it not worked for me.

[2017-04-15 13:05] TrueShutDown commented on #134
Ok and are you sure display_max_data is bigger than your attachment? Try to set
`xdebug.var_display_max_data = -1`
or better show data from
`file_put_contents('debug.txt', print_r($array, true))`

[2017-04-16 10:00] sergey144010 commented on #134
Show me
[code]

[2017-04-16 11:18] MSAyrese commented on #134
Result of `php var_dump($imap->getSection($id, '1.2'));`
![mailbox-test 3](https://cloud.githubusercontent.com/assets/20723864/25070743/263b645e-22bc-11e7-96b6-338803805fca.jpg)

[2017-04-16 16:22] sergey144010 commented on #134
now
[code]
and immediately
[code]

[2017-04-17 06:17] sergey144010 commented on #134
You probably have a Xdebug php.ini. Like this:
[code]
If this is commented out and the server is rebooted, then a full dump will be output.

[2017-04-18 19:48] sergey144010 commented on #134
@MSAyrese try changing the method getRecursiveSections() as below. And write the result.
[code]

[2017-04-19 09:24] MSAyrese commented on #134
changing getRecursiveSections not solved problem. result is like first post of this issues.

[2017-04-19 11:22] xXXIMMATTHEWXXx commented on #130
Hello @hhdivil, Is this still an issue. Please close this issue if so.

[2017-04-19 13:37] LKDevelopment opened #140 "Thank you for breaking Applications"
Hey,

i just want to thank you, that you break Applications that use your Package!

Because of your change (the stuff with the Incoming Message Class) a big application doesn't work anymore, and it isn't possible to jump back to an version that works. Thanks for this!

[2017-04-19 13:39] xXXIMMATTHEWXXx commented on #140
Hello! We do _not_ modify any environment variables so this is not possible. Even so it is good practice to use a service like git to make multiple versions of a project,

[2017-04-19 13:40] LKDevelopment commented on #140
Sure, but you modified the thing in development before release. Just git tag the stuff, so that it is possible to jump back to an old version, currently it isn't possible because you develop on "dev" & "master" & "2.0" ?

[2017-04-19 13:41] xXXIMMATTHEWXXx commented on #140
Old versions cannot be supported and really REALLY should not be used

[2017-04-19 13:53] xXXIMMATTHEWXXx commented on #140
General code issues. It worked, but a lot of "WIP" comments and code that does not work was in there. Also, attachments did not work on most servers. Docs were not up to date at the time and generally, the code was bad. Do note that commits is VERY old and the new class structure is must easier, more efficient and supports most servers. In the future, we will make changes to the dev branch. This w

[2017-04-19 13:56] LKDevelopment commented on #140
Sure that would be the best solution, but also it would be better if you git-tag the versions,

[2017-04-19 14:00] xXXIMMATTHEWXXx commented on #140
Ill be sure to work that in. We are also going to, starting at version 2.0, notify all devs of big API changes,

[2017-04-19 16:06] abdullahseba opened #141 "$imap->getMessages() not sorting by date."
Hi
I had an email which was in my junk folder and it was not junk so I took it out into the inbox.
The email is about a week old but `$imap->getMessages()` puts it on top (with the correct date stamp).
Is this an issue or is it outlook?
Thanks.

[2017-04-19 16:08] xXXIMMATTHEWXXx commented on #140
You can check the archive folder for now

[2017-04-19 20:21] sergey144010 commented on #141
You mean
[code]
and
[code]
You can use
[code]

[2017-04-19 20:37] sergey144010 commented on #140
You can clone the repository and roll back the changes before the commit that you need. And getMessages() returns an array, but only objects.

[2017-04-19 20:48] sergey144010 opened #143 "Do I need to include the phpDocumentor documentation in the repository?"
Do I need to include the phpDocumentor documentation in the repository?
Documentation is generated automatically.
https://github.com/phpDocumentor/phpDocumentor2
I now have more than 20 folders and files to them.
Can compress into the archive?
Or just give a link in our documentation?
Install
[code]
Use
[code]

[2017-04-20 00:07] xXXIMMATTHEWXXx commented on #143
Yes. Both. We need to have our copy which will only be updated when major changes are made and users can have their own

[2017-04-20 00:08] abdullahseba commented on #141
hmm.. will try that.

[2017-04-20 00:16] abdullahseba opened #144 "Duplicate properties neither of which work!"
Hi again
There is a  `header.seen` and  `header.details.Unseen`.
Both don't seem to do anything, I marked a message as unread and `header.seen` had `1` and `header.details.Unseen` was still empty. Same if I send a new message.
[code]

[2017-04-20 06:19] abdullahseba opened #145 "PHP error"
Hi
I just upgraded to the latest version and my code still works but I keep getting this in my log:
[code]

[2017-04-20 06:24] abdullahseba commented on #141
I tried `$emails = $imap->getMessages($number = 0, $start = 0, $order = 'DESC');` but it does nothing.

[2017-04-20 07:33] abdullahseba commented on #144
Might be office 365 cuz when I refresh office it sometimes un does what I did.
Have to look into it
Still the duplicate tho.

[2017-04-20 07:37] abdullahseba commented on #144
![image](https://cloud.githubusercontent.com/assets/25548754/25218967/9da27b64-25a4-11e7-86b3-779c8ba29e6c.png)

[2017-04-20 07:39] abdullahseba commented on #144
![image](https://cloud.githubusercontent.com/assets/25548754/25219010/ca3c5f1e-25a4-11e7-85e0-c5554e70291e.png)

[2017-04-20 10:04] sergey144010 commented on #145
Show me your
[code]

[2017-04-20 10:21] sergey144010 commented on #144
Ok.
Questions:
1. You first had 1 unread message. You have web interface and in it you see that the letter is not read?

2. You took it with getMessage(). And looked
[code]
Yes or No ?

3. The letter became read?
Yes or No ?

4. Do you want to set it as not read?

5. To do this, you use $imap->setUnseenMessage() method?

6. You open the interface and the letter is read again?

P.S. When using getM

[2017-04-20 10:27] sergey144010 commented on #144
And 'details' property
[code]
Just uses it
[code]
This is a Php built-in function.
See http://php.net/manual/ru/function.imap-headerinfo.php
[code]

[2017-04-20 10:33] sergey144010 commented on #141
The following does not happen ?
[code]

[2017-04-20 10:46] sergey144010 commented on #144
When I use the web interface and use $imap->setUnseenMessage() method, the update in the web interface does not happen instantly, it is necessary to switch between folders, and then an unread message will appear.

[2017-04-20 15:44] abdullahseba commented on #145
[code]

[2017-04-20 15:50] abdullahseba commented on #144
I have not got to the bit that reads mail in the interface yet. All I'm doing is `$imap->getMessages()`
I Think its a problem with office Ui
I'll check with Gmail and let you know.
What about `header.details.Unseen`?

[2017-04-20 15:55] abdullahseba commented on #141
I did but its not in the date order of the mail.
![image](https://cloud.githubusercontent.com/assets/25548754/25240119/f36d5d6c-25e9-11e7-8ed6-e0ad7f15c4c0.png)
So that's the correct order that the mail got in the inbox but not the correct date arrangement.
Cuz it was originally in junk.

[2017-04-20 16:14] abdullahseba commented on #144
Cant get anything out of gmail....

[2017-04-20 16:16] abdullahseba commented on #144
`$emails = $imap->getMessages();`
returns this in gmail:
`Notice: Unknown: Invalid quoted-printable sequence: =n&p=inboxcategories_all> [image: Customize] Customize your inbox If you see (errflg=3) in Unknown on line 0`

works fin in office 365!

[2017-04-20 16:22] sergey144010 commented on #145
Sorry
[code]

[2017-04-20 16:28] abdullahseba commented on #145
[code]

[2017-04-20 16:38] sergey144010 commented on #141
What it says in current folder:
[code]

[2017-04-20 16:40] sergey144010 commented on #145
And this
[code]

[2017-04-20 16:42] abdullahseba commented on #145
`NULL NULL`

[2017-04-20 16:52] sergey144010 commented on #144
What this?
[code]
Do you use it?
[code]
or
[code]

[2017-04-20 16:54] abdullahseba commented on #144
No, I don't. Its just ` $imap->getMessages()` exact same code that works with 365 but returns this.

[2017-04-20 16:55] sergey144010 commented on #145
Did you make it?
[code]

[2017-04-20 16:56] abdullahseba commented on #145
no

[2017-04-20 16:58] sergey144010 commented on #145
[code]

[2017-04-20 16:59] abdullahseba commented on #145
[code]

[2017-04-20 17:00] abdullahseba commented on #145
I set `$id` to 1
[code]

[2017-04-20 17:00] sergey144010 commented on #144
try this
[code]

[2017-04-20 17:03] sergey144010 commented on #145
Your first question is still relevant?

[2017-04-20 17:34] abdullahseba commented on #145
yes
I'm still getting errors

heres my code for the interface
[code]

[2017-04-20 17:35] abdullahseba commented on #145
[code]

[2017-04-20 17:38] abdullahseba commented on #141
`Fatal error: Uncaught Error: Call to undefined function getBriefInfoMessages()`

[2017-04-20 17:40] abdullahseba commented on #144
why?
isn't that the advanced connection?

[2017-04-20 17:47] sergey144010 commented on #145
Try to do so:
[code]
change to
[code]

[2017-04-20 17:50] sergey144010 commented on #141
[code]

[2017-04-20 17:53] sergey144010 commented on #144
That is.
You do not have a folder separator here.
[code]

[2017-04-20 17:59] abdullahseba commented on #145
[code]

[2017-04-20 18:00] abdullahseba commented on #145
why `foreach` in php? I need to do that in js.

[2017-04-20 18:01] sergey144010 commented on #145
try{
      $imap = new ImapClient($mailbox, $username, $password, $encryption);
# this
      $info = $imap->getBriefInfoMessages();
      $emails = [];
      foreach($info as $messageInfo){
           $emails[] = $imap->getMessage($messageInfo['id']);
      }
#
      $json = json_encode($emails,  JSON_PRETTY_PRINT);
    }catch (ImapClientException $error){
...
}

[2017-04-20 18:06] sergey144010 commented on #145
about foreach you can see http://php.net/manual/ru/control-structures.foreach.php

[2017-04-20 18:06] abdullahseba commented on #145
my interface works but the emails are sorted oldest first
[code]

[2017-04-20 18:07] abdullahseba commented on #145
I font need `foreach` in php and my code should does work

[2017-04-20 18:09] abdullahseba commented on #141
`Fatal error: Uncaught Error: Call to undefined function getBriefInfoMessages()`

[2017-04-20 18:11] sergey144010 commented on #145
Try it and show me
[code]

[2017-04-20 18:16] sergey144010 commented on #141
[code]

[2017-04-20 18:25] sergey144010 commented on #145
With foreach I create an output array $emails[], bypassing $imap->getMessages(). Using this $imap->getMessage().

[2017-04-20 18:29] sergey144010 commented on #143
What type of archive should I create? zip, rar or other?

[2017-04-20 18:47] abdullahseba commented on #141
`Fatal error: Uncaught Error: Call to undefined function getBriefInfoMessages()`
Cant do any more.
All my code is from the docs.

[2017-04-20 18:52] abdullahseba commented on #145
[code]
and my ui is not working tho something is been returned.

[2017-04-20 18:52] sergey144010 commented on #141
You missed somewhere `$imap->`

[2017-04-20 18:54] sergey144010 commented on #145
Show me
[code]

[2017-04-20 18:55] abdullahseba commented on #145
[code]

[2017-04-20 18:56] sergey144010 commented on #145
Ok, now do it
[code]

[2017-04-20 18:56] abdullahseba commented on #141
[code]

[2017-04-20 18:58] abdullahseba commented on #145
``
`int(1)
int(2)
int(3)
int(4)
int(5)
int(6)
int(7)
int(8)
int(9)
int(10)
int(11)
int(12)
int(13)
int(14)
int(15)
int(16)
int(17)

[2017-04-20 19:00] MSAyrese commented on #140
@sergey144010 @xXXIMMATTHEWXXx
Thank you for breaking Applications
I updated files and all of my codes give me error.
You Shit in codes. :|

[2017-04-20 19:06] sergey144010 commented on #145
ok, now
[code]
There are mistakes?

[2017-04-20 19:09] sergey144010 commented on #140
Which errors?

[2017-04-20 19:11] MSAyrese commented on #140
he...
compare a week ago getMessage function with now. all structure changed

[2017-04-20 19:11] sergey144010 commented on #141
[code]

[2017-04-20 19:12] xXXIMMATTHEWXXx commented on #140
We have solved this issue. Useless ranting that people can barely read is
not needed. I will close this issue asap

[2017-04-20 19:12] #140 closed

[2017-04-20 19:36] xXXIMMATTHEWXXx commented on #143
zip becuase it is most common

[2017-04-20 22:35] abdullahseba commented on #145
no errors but does not do what I want at all.

[2017-04-20 22:37] abdullahseba commented on #141
[code]

[2017-04-21 05:31] sergey144010 commented on #145
I know that does not. I'm analyzing the problem.
Ok, now
[code]

[2017-04-21 05:58] sergey144010 commented on #141
You show me ImapClient::getMessage() error, but in the code above there is no such method. Again.
[code]

[2017-04-21 07:23] #143 closed

[2017-04-21 23:59] abdullahseba commented on #145
Sorry cant do any more testing. Let me know when the bug is fixed or update the docs with a working solution.

[2017-04-22 00:28] xXXIMMATTHEWXXx commented on #145
Because you are the only one who is getting this error there is not much we
can do... We can try and replicate your workspace but we can only use what
you tell us

[2017-04-22 02:24] xXXIMMATTHEWXXx commented on #144
I believe your issue is not connecting to the default folder @abdullahseba. As @sergey144010 said, try and use the default then switch.

[2017-04-22 02:25] xXXIMMATTHEWXXx commented on #144
Do note @abdullahseba that an advanced connection is _highly_ recommended.

[2017-04-22 02:28] xXXIMMATTHEWXXx commented on #134
@sergey144010 ping. Can you continue to help with this issue?

[2017-04-22 02:32] xXXIMMATTHEWXXx commented on #67
This has been fixed with our work towards project 2.0!

[2017-04-22 02:32] #67 closed

[2017-04-22 02:35] xXXIMMATTHEWXXx commented on #145
@abdullahseba if you are not going to be able to help us further please tell us the setup of your entire environment

[2017-04-22 07:13] sergey144010 opened #146 "Labels"
@xXXIMMATTHEWXXx Need new label 'doubtfully'.
And mark them as follows.
#145 , #144 , #141
And remove the label ' bug'.

[2017-04-22 07:38] sergey144010 commented on #134
I can, but based on what he writes, I understand that he is afraid that his code will be broken. The only thing I can advise him is to install it in another directory (`composer require ssilence/php-imap-client dev-master`), go to the 'tests' folder, open 'template.php', write down the code for receiving the message and getting the attachment, like this.
[code]
And if it's okay to update.

And if

[2017-04-22 09:57] abdullahseba commented on #145
Oh, ok I'll help then.
Right now I'm using PHP 7.1 and IIS 10 with windows server 2016.

[2017-04-22 10:04] abdullahseba commented on #145
[code]

[2017-04-22 10:11] abdullahseba commented on #141
[code]

[2017-04-22 10:17] abdullahseba commented on #145
`IncomingMessage.php on line 655` does not have a line 655!

[2017-04-22 10:19] abdullahseba commented on #145
same errors on Apache too.

[2017-04-22 10:27] sergey144010 commented on #145
Whatever does not take long to say, my conclusion is this: For some reason, you are passing this non-existent ID to $imap->getMessage($id) method. And the 655 line ImapClient\IncomingMessage.php exists.

[2017-04-22 10:28] abdullahseba commented on #145
oops sorry was looking at the wrong file.

[2017-04-22 10:31] abdullahseba commented on #145
[code]

[2017-04-22 10:33] abdullahseba commented on #145
I'm not passing an Id at all. I want all the messages and `$emails = $imap->getMessages();` is what the docs say .

[2017-04-22 10:40] sergey144010 commented on #145
Yes indeed, but the problem is only with you. Do so then Go to the folder (if nessary), count the number of messages and search through the array, as shown below.
[code]

[2017-04-22 10:44] sergey144010 commented on #145
Can your messages be empty? Or the message type can be different from PLAIN, HTML?

[2017-04-22 10:45] abdullahseba commented on #145
both depends what we get sent

[2017-04-22 10:45] abdullahseba commented on #145
`500 error`
[code]

[2017-04-22 10:46] abdullahseba commented on #145
idk why. nothing to do with SQL and my SQL app is stiil working.

[2017-04-22 10:47] abdullahseba commented on #145
I'll try on my main servers.

[2017-04-22 10:51] sergey144010 commented on #145
I do not understand how the code above applies to this?
`PHP Warning:  PHP Startup: Unable to load dynamic library 'C:\PHP\ext\php_mysql.dll' - The specified module could not be found.`

[2017-04-22 10:53] abdullahseba commented on #145
Same. but it seems to come randomly on some unrelated errors, tho sql still works fine.

[2017-04-22 10:56] sergey144010 commented on #145
We have for our tests a separate file and it is in `tests/template.php`.
And there is no need to use additional wrappers and cms, but you have to fix the problems php and sql.

[2017-04-22 10:56] sergey144010 commented on #145
We need to understand on which id the error occurs.

[2017-04-22 10:57] sergey144010 commented on #145
Show this
[code]

[2017-04-22 11:04] abdullahseba commented on #145
[code]

[2017-04-22 11:05] abdullahseba commented on #145
is there any other `use` I need to use?
right now I'm using composer autoload with `use SSilence\ImapClient\ImapClient;`

[2017-04-22 11:10] sergey144010 commented on #145
Of course copy the code is good, but I want it not to be thoughtless. Change this
[code]
on
[code]

[2017-04-22 11:11] sergey144010 commented on #145
Сomposer autoload is quite suitable.

[2017-04-22 11:28] abdullahseba commented on #145
500
[code]

[2017-04-22 11:28] abdullahseba commented on #145
also what to i set `$folder` to? I set it to inbox.

[2017-04-22 11:32] sergey144010 commented on #145
This error has nothing to do with our library.
It is written that PHP can not load the library `C:\PHP\ext\php_mysql.dll`.
I understand that you do not need this, just delete the line of code.
[code]

[2017-04-22 11:35] sergey144010 commented on #145
Why do you have these mistakes 6 times in a row? PHP does not work even with one such error.

[2017-04-22 12:12] abdullahseba commented on #145
no idea does in my main server too. I dont think we need to worry about the sql error cuz it happens when most real errors happen. (on IIS anyway)

[2017-04-22 12:12] abdullahseba commented on #145
[code]

[2017-04-22 12:15] sergey144010 commented on #145
I specified in the code:
[code]
I do not see it here. Where is he?
[code]

[2017-04-22 12:59] abdullahseba commented on #145
[code]

[2017-04-22 13:07] sergey144010 commented on #145
Man, me need var_dump($i);
Something like this:
[code]

[2017-04-22 13:10] abdullahseba commented on #145
well I am getting that in the error log
[code]

[2017-04-22 13:20] sergey144010 commented on #145
In general, it turns out that I can not get the identifier of the message in which errors occur, and without it I can not move on. I can not explain how to return var_dump ($ i). I'm sorry.

[2017-04-22 13:24] abdullahseba commented on #145
ok never mind

[2017-04-22 13:44] abdullahseba commented on #145
I dont get any errors when using v2.0.
`"ssilence/php-imap-client": "2.0.x-dev"`

[2017-04-22 13:45] abdullahseba commented on #145
are you sure you dont get the same problem?

[2017-04-22 20:27] sergey144010 commented on #145
Can make this
[code]
and show me FULL 'structure' like this:
[code]

[2017-04-22 21:01] #146 closed

[2017-04-22 21:39] abdullahseba commented on #145
No errors on `2.0.x-dev` and returns:
[code]

[2017-04-22 21:46] sergey144010 commented on #145
Ok, thanks, probably soon fix.

[2017-04-22 22:12] abdullahseba commented on #145
Np.
Mean while I'll use `2.0.x-dev` :)

[2017-04-24 08:19] JerBlo opened #148 "Request: ability to set all IDs to UID"
I would like to have the ability to set a configuration parameter to ImapClient, so all IDs used in public and private functions are in UID.

We need this for a tool where multiple clients read from the same IMAP client at the same time. Deleting a message would change the normal message number, which can cause mixing emails. Also, when processing e-mails in a non DESC order, you need to request t

[2017-04-24 08:37] JerBlo opened #149 "Notice: Undefined property: stdClass::$dparameters"
In some e-mails, an inline attachment does not have the "dparameters" array for the filename of the image (e-mail was sent from Outlook 2016).

This result in a PHP notice and warning (and off course no filename).

Possible solution:
- Check with ifdparameters if the "dparameters" array exists
- Add fallback on "parameters"

In code this looks like: https://pastebin.com/NchXGGsg

[2017-04-24 12:44] sergey144010 commented on #148
Good idea, I'm not against help, but you need to wait until they accept the last pool request, as there are some changes.

[2017-04-24 12:49] xXXIMMATTHEWXXx commented on #148
Sounds great! If you have any ideas or if you want to code it, feel free. :)

[2017-04-24 12:51] xXXIMMATTHEWXXx commented on #149
Hmm, we will be sure to add a fallback!! I'm pretty sure the latest pr fixed but let me know!

[2017-04-24 12:53] xXXIMMATTHEWXXx commented on #130
@hhdivil I assume this issue is fixed. Closing...

[2017-04-24 12:53] #130 closed

[2017-04-24 12:56] xXXIMMATTHEWXXx commented on #134
@MSAyrese I would say make a new duplicate environment and once you have the duplicate working copy it over.

[2017-04-24 12:58] xXXIMMATTHEWXXx commented on #141
Please wrap your var_dump in `<pre>` tags

[2017-04-24 13:04] #149 closed

[2017-04-24 13:07] xXXIMMATTHEWXXx commented on #148
I have merged the pull request.

[2017-04-24 13:08] sergey144010 commented on #145
@abdullahseba make `composer update` and try new changes in the master branche. Are you getting errors or not?

[2017-04-24 13:10] xXXIMMATTHEWXXx commented on #145
Also @abdullahseba if you are scared your code will get messed up do this in another duplicate folder.

[2017-04-24 15:08] JerBlo opened #150 "Request: make all private functions protected"
I would like to have the ability to extend the php-imap-client files, for adding some custom needs (parsing an attached e-mail as inline text and build an array with sections (key) and plain/html/attachments-types (values).

However, extending the class works great, but you are not able to overrule private functions. If it's possible to change them to protected functions, the extended class can ov

[2017-04-24 15:14] JerBlo commented on #148
Since I'm not an experienced GIT-user yet, it will take some time before able to contribute, but I'll keep this item in mind. I like the project, so love to contribute one day.

[2017-04-24 17:10] lhidalgo42 opened #151 "Undefined property: stdClass::$types"
in some emails fail to decode body in types property

 ...\ssilence\php-imap-client\ImapClient\IncomingMessage.php
    /**
     * Decode body
     *
     * @return void
     */
    private function decodeBody()
    {
        foreach ($this->message->types as $typeMessage) {

            switch ($this->message->$typeMessage->structure->encoding)
.
.
.
maybe a solution to this issue is add an except

[2017-04-24 17:42] sergey144010 commented on #150
Which classes do you want to expand? Because the idea is dangerous, because you can break the logic. Our need to think about this or add interfaces.

[2017-04-24 17:45] sergey144010 commented on #151
If the error pops up, write it here.
Also you can turn off the decoding.
[code]

[2017-04-24 17:53] xXXIMMATTHEWXXx commented on #148
If getting started with git is the problem all of us here can help :)

[2017-04-24 17:54] xXXIMMATTHEWXXx commented on #150
I think it would be best to add an overrides folder. Somehow impelment that
kind of how prestashop does it.

[2017-04-24 17:55] xXXIMMATTHEWXXx commented on #151
Do note I plan to rename the NOT_DECODE to NODECODE. Still use NOT_DECODE
though

[2017-04-24 18:34] abdullahseba commented on #145
all good on `dev-master`.
I'm not worried about my code cuz I'm using composer so it easy to change back.

[2017-04-24 19:39] sergey144010 commented on #145
If there are no errors then close.

[2017-04-24 20:17] #145 closed

[2017-04-24 21:04] abdullahseba opened #152 "$imap->incomingMessage not working."
Hi (again) :)
`$emails = $imap->incomingMessage;` retuns NULL.
And `$imap->incomingMessage->header`  has an error `Notice: Trying to get property of non-object`
I need something a bit faster than ` $imap->getMessages()`

[2017-04-25 04:05] sergey144010 commented on #152
What actions do you do before that?
[code]
$imap->incomingMessage returns the IncomingMessage object of after using the method of $imap->getMessage($id).

[2017-04-25 08:03] JerBlo commented on #150
In my case I needed to extend IncomingMessage for several reasons:

1.  Changed the getRecursiveSections() function for embedded e-mail attachments (we want to see them as a forwarder mail):

			if($subObj->type == 2)
			{
				$subObj = $subObj->parts[0];
			}

2. Changed the getObjectStructureFromParts() function, for subtypes RFC822 (e-mail attachments), since section/part numbers should be buil

[2017-04-25 08:29] JerBlo commented on #144
I can reproduce this issue and debugged this issue. When using ImapClient::getMessages, each message is retrieved by the getMessage() function, which lead to IncomingMessage::init().

In this function, the getHeader() method is called AFTER getAttachments (which marks the e-mail as read/seen). In my opinion the getHeader() should be right before the getAttachments.

[2017-04-25 10:51] abdullahseba commented on #152
`Fatal error: Uncaught Error: Call to undefined method SSilence\ImapClient\ImapClient::incomingMessage()`
[code]

[2017-04-25 10:56] abdullahseba commented on #152
Is there something faster than ` $imap->getMessages()`? It retuns evrything about the email when all I need is the header for the list of emails in the client.

[2017-04-25 11:09] abdullahseba commented on #144
Yep its defiantly not outlook now. As soon as I refresh the client my emails get read.

[2017-04-25 11:12] abdullahseba opened #153 "Email with attachments result in error."
Hi
`$emails = $imap->getMessages();` results in
[code]
It still retuned the emails but I cant convert the data to JSON now.

[2017-04-25 11:23] xXXIMMATTHEWXXx commented on #150
@sergey144010 what do you think about adding an override folder somewhat like prestashops?

[2017-04-25 11:24] xXXIMMATTHEWXXx commented on #144
@JerBlo's solution seems to be the most logical.

[2017-04-25 11:26] xXXIMMATTHEWXXx commented on #153
Hmm. The symbol part I know is part of the source of the png file. Meaning we are not properly reading it.

[2017-04-25 11:44] abdullahseba commented on #144
Thats something you have to do right?

[2017-04-25 11:53] xXXIMMATTHEWXXx commented on #144
Yes, I will commit in a minute.

[2017-04-25 11:56] JerBlo commented on #150
Could be an option, as long as each method-call also checks in the extended/custom code, otherwise it will not solve the problem with calling private methods from other methods in that (extended) class.

[2017-04-25 11:58] xXXIMMATTHEWXXx commented on #150
True

[2017-04-25 12:02] xXXIMMATTHEWXXx commented on #144
I believe this has been fixed. Let me know

[2017-04-25 12:09] abdullahseba commented on #144
Yep seems to work. but the time is always 20 hours.
Might be me but the code use to work.

[2017-04-25 12:09] abdullahseba commented on #144
![image](https://cloud.githubusercontent.com/assets/25548754/25384490/64bc1608-29b8-11e7-940a-af23b01c2dda.png)

[2017-04-25 12:17] abdullahseba commented on #144
Cant cuz of the attachment issue #153.
I can `$emails = $imap->getMessages(10,1);`
I was using `header.udate`

[2017-04-25 12:33] xXXIMMATTHEWXXx commented on #144
Try and send yourself a new one

[2017-04-25 13:05] abdullahseba commented on #144
No its ok must be my js somewhere.
the duplicate headers are still there tho
[code]

[2017-04-25 13:53] abdullahseba commented on #144
No its not fixed.
I can see the mail getting marked as read in outlook as i refresh the page.
Fixed the date issue (was my JS).

[2017-04-25 13:55] abdullahseba commented on #144
They come thorough as unread than when I refresh the page again its read.
I can send link if you want.

[2017-04-25 13:57] xXXIMMATTHEWXXx commented on #144
Hm...

[2017-04-25 15:52] sergey144010 commented on #144
@JerBlo So

Because marks the e-mail as read/seen, getHeader() method MUST BE AFTER.
Otherwise it turns out that you take the header of the letter and there
[code]
Then the letter is read by getAttachments() and getBody() method. And it establishes
[code]
And when you receive a message, the header is not correct, the letter has already been read, but you have not read it.

[2017-04-25 15:54] sergey144010 commented on #144
And so if you have already fixed it, then I recommend that you return it back, because it breaks the logic.

[2017-04-25 16:00] sergey144010 commented on #152
1.
@abdullahseba Where did you get this from?
[code]
Can be in the documentation?

2.

There is a way. It is necessary to extend the ImpatClient class, take $imap property there and do imap_headers().
http://php.net/manual/ru/function.imap-headers.php

[2017-04-25 16:03] abdullahseba commented on #152
its retuns only two emails then

[2017-04-25 16:14] sergey144010 commented on #150
@JerBlo
1.

Now the meaning of this function is this:
[code]
There is a recursive search for ...->parts[]. And set section like this [1, 1.1, 2, 2.1, 2.2]

2. About subtypes RFC822
Need just add this in TypeBody or TypeAttachments.

[2017-04-25 16:19] sergey144010 commented on #152
And how many letters are there?

[2017-04-25 16:21] sergey144010 commented on #153
What are we talking about?

[2017-04-25 16:24] sergey144010 commented on #150
Maybe need make this, you can show more of the working code that you use.

[2017-04-25 16:26] sergey144010 commented on #150
Only  IncomingMessage class ?

[2017-04-25 16:29] sergey144010 commented on #148
About this, need make switch in ImapClient like this
[code]
But need to rewrite a lot of code, and think through the logic.

[2017-04-25 16:31] abdullahseba commented on #152
u mean emails?

[2017-04-25 16:49] sergey144010 commented on #153
Recalculate letters using $imap->count, next cycle, find id error message and exept it, and next show me structure letters.

[2017-04-25 16:51] sergey144010 commented on #152
You read

    getMessages($number, $start, $order)

Should it be 20?

[2017-04-25 16:53] abdullahseba commented on #152
Yeah!
`$imap->incomingMessage(2)` retuns 2 emails
`$imap->incomingMessage()` retuns all 20 emails.

[2017-04-25 17:03] sergey144010 commented on #152
$imap->incomingMessage - it is OBJECT for ONE last message which get using methods getMessage() or getMessages().

[2017-04-25 17:04] abdullahseba commented on #152
????

[2017-04-25 17:05] sergey144010 commented on #152
And this
[code]
It is not right.
And this right
[code]

[2017-04-25 17:05] sergey144010 commented on #152
!!!

[2017-04-25 17:05] sergey144010 commented on #152
Read documentation please.

[2017-04-25 17:07] sergey144010 commented on #152
https://github.com/SSilence/php-imap-client/blob/master/docs/guide-en/IncomingMessage.md

[2017-04-25 17:16] abdullahseba commented on #152
Woops sorry getting muddled with with `$imap->incomingMessage()` and `$imap->incomingMessages()`
so `$imap->incomingMessage(2)` should return the second email but does not.

[2017-04-25 17:20] sergey144010 commented on #152
Not

but mail with $id = 2;
You have message with id = 2 ?

[2017-04-25 17:29] abdullahseba commented on #152
oh so the id is not the mail order number?

[2017-04-25 17:33] abdullahseba commented on #152
where is the mail id? i can see a `uid`

[2017-04-25 17:54] sergey144010 commented on #152
You can make this
[code]
OR
[code]

[2017-04-25 18:00] sergey144010 commented on #152
Or try use http://php.net/manual/ru/function.imap-headers.php

[2017-04-25 18:03] abdullahseba commented on #152
yep works so not an error shall I close?

[2017-04-25 18:24] sergey144010 commented on #152
Still have questions about this? If not, close it.

[2017-04-25 18:25] #152 closed

[2017-04-25 18:32] xXXIMMATTHEWXXx commented on #148
Yeah

[2017-04-25 18:34] xXXIMMATTHEWXXx commented on #144
Reopened due to new convo

[2017-04-25 18:38] abdullahseba commented on #153
`$imap->count`?
not sure what to do.

[2017-04-25 18:44] sergey144010 commented on #153
Make this
[code]
and show me

[2017-04-25 18:47] abdullahseba commented on #153
`Parse error: syntax error, unexpected ')', expecting ';'`

[2017-04-25 18:47] abdullahseba commented on #153
Tried to fix it

[2017-04-25 18:50] sergey144010 commented on #150
Or you can do this as follows, you make all the changes you want and do PullRequest in the DEV branch, then we'll look and test all the changes and if all is good then we'll take them. BUT @xXXIMMATTHEWXXx need update DEV branch up to today's state.

[2017-04-25 18:51] sergey144010 commented on #153
Change `,` -> `;` in
[code]

[2017-04-25 18:53] xXXIMMATTHEWXXx commented on #150
I believe I can't because someone uses it because there is a problem with the current version?

[2017-04-25 18:54] abdullahseba commented on #153
[code]

[2017-04-25 18:57] sergey144010 commented on #153
Ok, For accuracy
[code]

[2017-04-25 18:59] sergey144010 commented on #153
and show me
[code]

[2017-04-25 19:01] abdullahseba commented on #153
[code]

[2017-04-25 19:02] abdullahseba commented on #153
Cant `var_dump($imap->incomingMessage);` here theres too much

[2017-04-25 19:33] sergey144010 commented on #153
at least
[code]

[2017-04-25 19:44] sergey144010 commented on #153
And in general, make it easier:
[code]
Errors?

[2017-04-25 19:49] sergey144010 commented on #150
All serious problems have already been eliminated. Or what do you mean? A branch dev is just now with old mistakes.
And in general the meaning of branches:
Dev - for development, master - current stable, ...  and next releases

[2017-04-25 19:51] sergey144010 commented on #150
I think that you need to make a reference point on the current code, because there the code is cleaned and more or less without errors, because before that there was a lot of unnecessary and not working.

[2017-04-25 19:54] sergey144010 commented on #150
To wait a month and if there will be no serious problems to do release. And new code to will do in dev branch and to transfer stable in the master branch.

[2017-04-25 20:00] sergey144010 opened #154 "Who's doing what"
In order not to do the same job twice, I suggest writing who is doing what now.

[2017-04-25 20:00] sergey144010 commented on #154
I'm currently working on testing.

[2017-04-25 20:30] abdullahseba commented on #153
`Fatal error: Uncaught Error: Class 'IncomingMessage' not found`

[2017-04-25 21:08] xXXIMMATTHEWXXx commented on #154
I am doing cleanup and documentation. Us two can split stuff as we go unless anyone wants to help aswell

[2017-04-25 21:11] xXXIMMATTHEWXXx commented on #150
I was trying to say I thought there was an issue that used the old branch. Was that fixed?

[2017-04-26 05:56] sergey144010 commented on #150
I did PullRequests only in master branch,
When you branch out a project, then several copies of it (branches) are created. Correspondingly, if you make corrections only in one branch, then others will remain untouched.

[2017-04-26 06:08] sergey144010 commented on #153
[code]

[2017-04-26 06:28] sergey144010 commented on #144
I say it again.
When using the methods of getMessage() and getMessages(), the mail is marked as read, because it is logged into the logic. If you want to get only message headers then use the `$imap-> getMessagesOverview ()` method with the parameters `$imap->getMessagesOverview ('1:20')` where `1: 20` is the id range that you can do so
[code]

[2017-04-26 06:48] abdullahseba commented on #144
returns nothing

[2017-04-26 07:04] abdullahseba commented on #153
[code]

[2017-04-26 07:13] abdullahseba commented on #144
Thats nearly perfect but I need to know if it has attachments and `'1:20'` is a HUGE downside for me.
Is there a way to get the _last 20 emails_?

[2017-04-26 07:30] sergey144010 commented on #144
If I'm not mistaking, the mail server on receiving a new message, he shifts the id, and the uid leaves unchanged. Accordingly, this will be the last 20 messages.
[code]
And find out if there is an attachments or not, so long as except `$map->getMessage($id); $imap->IncomingMessage->attachments` can not.

[2017-04-26 07:35] sergey144010 commented on #153
I will translate to you your mistake:
`Class 'IncomingMessage' not found in 1.php`
 You not use Autoload like this
[code]
or this
[code]
or this
[code]
What autoload do you use where you have it?

[2017-04-26 07:36] abdullahseba commented on #144
no it starts from the bottem up so i get my first 20 emails

[2017-04-26 07:37] abdullahseba commented on #153
nope my code is fine `require_once "vendor/autoload.php";`
it works for everything else but this
[code]

[2017-04-26 07:38] sergey144010 commented on #144
So you need to calculate the last.
[code]

[2017-04-26 07:45] sergey144010 commented on #144
And maybe you need to turn them over so
[code]

[2017-04-26 08:41] abdullahseba commented on #144
Last  one works :)

[2017-04-26 09:16] abdullahseba commented on #144
`$imap->selectFolder();` does not work for this. any alternative?

[2017-04-26 15:36] alepeino commented on #154
Good thing you said this, I was about to start on testing as well.

Also, can we integrate some coding style CI tool? (Like [StyleCI](https://styleci.readme.io/docs/getting-started) ) It will make further contributions easier.

[2017-04-26 17:14] sergey144010 commented on #144
And why does it work for me?
[code]
return
[code]

[2017-04-26 17:17] sergey144010 commented on #153
Show you C:\xampp\htdocs\mail2\1.php

[2017-04-26 18:29] abdullahseba commented on #144
No, `$imap->countMessages();` works but `$imap->getMessagesOverview` does not work unless INBOX is selected. it just reruns an empty array and an error
[code]

[2017-04-26 18:30] abdullahseba commented on #153
[code]

[2017-04-26 18:31] abdullahseba commented on #153
Its my testing code works for the other functions.

[2017-04-26 20:40] xXXIMMATTHEWXXx commented on #154
I think that. I am talking to the repo owner about this

[2017-04-26 21:28] sergey144010 commented on #144
I have
[code]
return
[code]

[2017-04-26 21:34] abdullahseba commented on #144
`int(1) int(1)`

[2017-04-26 21:36] sergey144010 commented on #153
[code]

[2017-04-26 21:38] abdullahseba commented on #153
`1234567891011121314151617181920212223`

[2017-04-26 22:03] abdullahseba commented on #144
I neeed `$imap->getMessagesOverview` not `$imap->getBriefInfoMessages`!!!!

[2017-04-26 22:07] abdullahseba commented on #144
[code]

[2017-04-26 22:12] abdullahseba commented on #144
[code]
Returns `Calendar Calendar/Birthdays Calendar/United Kingdom holidays Contacts Conversation History Deleted Items Drafts INBOX Journal Junk Email Notes Outbox Sent Items Tasks`
And
[code]
works so why not `$imap->getMessagesOverview()`?

[2017-04-27 07:32] sergey144010 commented on #153
Letter with $id = 24, where?
before
[code]
after
[code]
where 24?

[2017-04-27 07:32] sergey144010 commented on #153
[code]

[2017-04-27 08:14] sergey144010 commented on #144
show you
[code]

[2017-04-27 09:55] abdullahseba commented on #144
[code]

[2017-04-27 09:59] abdullahseba commented on #153
I set `$id = 20` cuz I dont have 24 emails.
[code]

[2017-04-27 12:39] sergey144010 commented on #153
Before the error occurred in 24, and now in 20?

[2017-04-27 12:42] sergey144010 commented on #144
Show you
[code]

[2017-04-27 12:57] abdullahseba commented on #144
`Calendar/Birthdays` is an outlook thing not a mailbox. Its for the office calander and not even shown in outlook.
[code]

[2017-04-27 13:00] abdullahseba commented on #144
[code]

[2017-04-27 13:04] abdullahseba commented on #153
oh, no its 23

[code]

[2017-04-27 14:09] latkinson opened #155 "Fatal Error..."
### Feature request or bug
Bug
### If a bug, what did you expect to happen?
echo a string
### If a bug, what happened?
fatal error
### If a bug, list steps to reproduce bugs.
This happens for me with emails that do not have any Section::_body content in inMess->messages->plain.
var_dump shows it as FALSE:

["_body":"SSilence\ImapClient\Section":private]=>bool(false)

but since it is private, I can

[2017-04-27 14:13] xXXIMMATTHEWXXx commented on #155
Hnmm, we seem to have a problem with null checks. Thank you for reporting this

[2017-04-27 14:13] xXXIMMATTHEWXXx commented on #155
Also will you show the code your using

[2017-04-27 14:57] sergey144010 commented on #155
@latkinson You mean you're doing something like this?
[code]
or
[code]
right?

[2017-04-27 16:26] latkinson commented on #155
echo $imap->incomingMessage->messages->plain;
is what does it, yes. I haven't tried popping it to json.

[2017-04-27 17:03] latkinson commented on #155
This is my code:
`
$message='';

// Has the "plain" field set, but the value is (bool)false.
// While it is set, being private, I can't
if (isset($email->message->plain)) { // returns true
    $message = $email->message->plain;
} else if (isset($email->message->html)) {
    $message = $email->message->html;
}

// Shows fine
var_dump($message);

// Fails: Section::_body is (bool)false, but __toStri

[2017-04-27 17:06] latkinson commented on #155
Wait, yes, checked the update. That works great.
Thanks!

[2017-04-27 17:06] #155 closed

[2017-04-27 17:59] sergey144010 commented on #155
They have not yet taken PullRequest, but do you already work??

[2017-04-27 18:02] sergey144010 commented on #153
So far, use this in your work.
[code]
Then if you need to look at the encoding and re-encode where you need it.

[2017-04-27 19:02] abdullahseba commented on #153
OK. Please let me know when it has been fixed.

[2017-04-27 21:02] MrRoudeLeiw opened #157 "HTML Message without content"
Hey guys,
I just took a look at your imap-client and so far I really like it, but for some messages I'm just able to get the message in plain text form and not in HTML form.
Have a nice day

[2017-04-27 21:05] abdullahseba commented on #153
what are the options for `$options`?
`$emails = $imap->getMessages($params['number'],$params['start'], IncomingMessage::NOT_DECODE);`
Is retuning the emails from bottom to top

[2017-04-27 21:55] xXXIMMATTHEWXXx commented on #157
What exactly do you mean some messages? How do they defer from others? Can you show relevant code?

[2017-04-28 05:35] sergey144010 commented on #157
This does not fit?
[code]

[2017-04-28 14:27] MrRoudeLeiw commented on #157
I'm using
`$emails = $imap->getMessages();`
`$message = $email->message->html.PHP_EOL;`
For the most emails I can't get the message as HTML.

[2017-04-28 14:48] xXXIMMATTHEWXXx commented on #157
Hmm. Are those messages html? Show the var_dump of the message

[2017-04-28 14:53] MrRoudeLeiw commented on #157
I just double checked it, the message is not html. So is there any possibility to format the message?

[2017-04-29 10:02] sergey144010 commented on #157
The allowed message formats are located here - TypeBody.
You can see which message types are separated in this way - ```var_dump($imap->incomingMessage->message-> types)```.
To implement formatting, from what type to what type?

[2017-04-29 10:05] sergey144010 commented on #157
If this is not present, then there are no such parts in the message.
`
$imap->incomingMessage->messsage->plain
$imap->incomingMessage->messsage->html
`
Or there are no such types here TypeBody

[2017-04-29 14:59] abdullahseba commented on #153
Hallo??
And where's the docs?
They seem to be heavily unused :(

[2017-04-30 17:19] xXXIMMATTHEWXXx commented on #153
Docs are currently under a huge update. Sorry for any delays

[2017-04-30 17:21] abdullahseba commented on #153
Ok thanks, I found some in a zip.
HUGE improvement 👍

[2017-04-30 17:21] xXXIMMATTHEWXXx commented on #153
Thank you!

[2017-04-30 17:32] xXXIMMATTHEWXXx commented on #154
@alepeino Style CI has been implemented.

[2017-04-30 17:33] xXXIMMATTHEWXXx commented on #157
@MrRoudeLeiw is this still an issue?

[2017-04-30 17:33] xXXIMMATTHEWXXx commented on #153
@sergey144010 if you would please continue you help @abdullahseba

[2017-04-30 17:47] xXXIMMATTHEWXXx commented on #144
@abdullahseba the getMessagesOverview depends on the mailbox connection to read the emails. Are you switching your open folder? getMessagesOverview also depends on an id: `@param string $sequence a message sequence description,
     * you can enumerate desired messages with the X,Y syntax,
     * or retrieve all messages within an interval with the X:Y syntax`

[2017-05-01 11:26] xXXIMMATTHEWXXx commented on #154
I am also getting travis added atm

[2017-05-01 11:26] xXXIMMATTHEWXXx commented on #151
@ibpavlov is this still an issue?

[2017-05-01 20:32] ibpavlov commented on #151
I had a different issue.

[2017-05-01 20:37] xXXIMMATTHEWXXx commented on #151
Sorry. Wrong tag @lhidalgo42

[2017-05-01 23:14] MrRoudeLeiw commented on #157
Everything Fine so far.

[2017-05-02 09:05] puogintas opened #158 "Every Time I pull messages I get error message"
### Feature request or bug
BUG

### If a bug, what did you expect to happen?
I expected to pull messages as normal

### If a bug, what happened?
I get this error while trying to pull unread / read messages

SSilence\ImapClient\ImapClientException: Section object have only "structure" and "body" properties. in SSilence\ImapClient\Section->__get() (line 78 /xxxxxx/ImapClient/Section.php)

### If a b

[2017-05-02 11:15] xXXIMMATTHEWXXx commented on #158
I will look into this!

[2017-05-02 11:18] xXXIMMATTHEWXXx commented on #157
Thanks

[2017-05-02 11:20] xXXIMMATTHEWXXx commented on #158
@sergey144010 as you primarily wrote the section class. How does this error occur?

[2017-05-02 12:10] puogintas commented on #158
Hi,

If I use this code (using dev-master#eaf55dbb0772d5a209b62e2da875ae17c6fcbf47 commit):

	try {
		/* get current credentials */
		$conn = get_mailbox_credentials();

		/* creating advanced connection to mailbox */
		$imap = new ImapClient([
			'flags' => [
				'service' => ImapConnect::SERVICE_IMAP,
				'encrypt' => $conn['encryption'],
				'validateCertificates' => ImapConnect::VALIDATE_CERT,

[2017-05-02 12:12] puogintas commented on #158
P.S. I used 2.0.x-dev branch

[2017-05-02 12:48] xXXIMMATTHEWXXx commented on #158
Thank you. I will continue to look at this

[2017-05-02 12:54] xXXIMMATTHEWXXx commented on #150
This has been fixed

[2017-05-02 12:54] #150 closed

[2017-05-02 12:55] #157 closed

[2017-05-02 12:56] xXXIMMATTHEWXXx commented on #151
I believed this issue has been fixed with our latest updates. Closing. Comment back if this is still an issue.

[2017-05-02 12:57] #151 closed

[2017-05-02 19:39] sergey144010 commented on #158
What this?
[code]
Do you somehow refer to property `krumo5908764448...`, for example like this?
[code]

[2017-05-09 15:54] alfonsobries opened #159 "Documentation is down"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
The documentation page doest work

### If a bug, what happened?
When you open the documentation you can see the menu, but doesn't load the documentation, in chorme dev tools i have this error:
Failed to load resource: the server responded with a status of 404 (Not Found) /docs/guide/gettingstarted.md

### If a bug, list s

[2017-05-09 17:19] xXXIMMATTHEWXXx commented on #159
Sorry this was my fault. I have fixed this *facepalm*

[2017-05-09 17:19] #159 closed

[2017-05-09 17:19] xXXIMMATTHEWXXx commented on #158
@puogintas is this still an issue?

[2017-05-09 17:20] xXXIMMATTHEWXXx commented on #153
@abdullahseba do you still need assistance?

[2017-05-09 17:20] xXXIMMATTHEWXXx commented on #148
We need to get a move on with this @sergey144010 if you want ill do this for you

[2017-05-09 17:21] xXXIMMATTHEWXXx commented on #144
@abdullahseba is this still an issue?

[2017-05-09 17:21] xXXIMMATTHEWXXx commented on #141
@abdullahseba is this still an active issue?

[2017-05-09 17:22] xXXIMMATTHEWXXx commented on #134
@MSAyrese is this still an issue?

[2017-05-09 17:23] abdullahseba commented on #153
No, thank you just waiting for the bug to be fixed :)

[2017-05-09 17:24] xXXIMMATTHEWXXx commented on #153
Thanks. Ill be sure to work in this :)

[2017-05-09 17:25] abdullahseba commented on #144
I dont know I haven't upgraded for sometime, but have you fixed it?

[2017-05-09 17:27] xXXIMMATTHEWXXx commented on #144
I believe we have. Can you test it? If you dont want your code to break make it in a new environment please.

[2017-05-09 17:27] abdullahseba commented on #141
No I'm dead.
again I havent updated, so when its fixed let me know.

[2017-05-09 17:29] abdullahseba commented on #144
Ok I will try later on hopefully today, not worried about the code. its easy to downgrade with composer.

[2017-05-10 13:26] abdullahseba commented on #144
Right I seems to work but its still duplicated.
The second lot should should say `0` instead of been blank tho.
If this is the intended behaviour I'll  close the issue.
![image](https://cloud.githubusercontent.com/assets/25548754/25900808/9b3a81a8-358c-11e7-969b-52c77814b8c2.png)

[2017-05-10 13:28] xXXIMMATTHEWXXx commented on #144
Everything looks good but the date. Will fix this

[2017-05-10 13:29] abdullahseba commented on #144
Yeah, that is duplicated too in the same place.

[2017-05-10 13:33] xXXIMMATTHEWXXx commented on #144
Seems to be just a human error ;)

[2017-05-10 13:33] abdullahseba commented on #144
Shall I open another issue for the messages getting marked as read?
We spoke about it here but its confusing.

[2017-05-10 13:37] xXXIMMATTHEWXXx commented on #144
Yes please

[2017-05-10 13:53] abdullahseba opened #161 "getMessages() marks all messages as read."
Hi
`getMessages()` retrieves all the messages and marks them as read.
So on the first run it will return the message as unread before marking it as read.
So while I load this page which uses `getMessages()` I can see the messages been marked as read one by one in outlooks web app.
![image](https://cloud.githubusercontent.com/assets/25548754/25902021/418421d8-3590-11e7-8374-e54334d2ba23.png)
![imag

[2017-05-14 10:49] anielka opened #162 "SubtypeBody:class"
### Feature request or bug
bug
### If a bug, what did you expect to happen?
list messages
### If a bug, what happened?
1. PHP Parse error:  syntax error, unexpected ':', expecting ')' in /ImapClient/IncomingMessage.php on line 362
after fixing code SubtypeBody:class -> SubtypeBody::class  we goes to
2. PHP Fatal error:  Cannot access empty property in /ImapClient/IncomingMessage.php on line 366
wi

[2017-05-14 13:31] xXXIMMATTHEWXXx commented on #162
Thank you! Travis recently cought this I'm working to fix it.thank you!

[2017-05-14 13:56] anielka commented on #162
that's great. sorry for offtopic, but two questions:
1. why only one branch and not two? (_current working_ mastar && wip dev)
2. with commit should work for this moment (i had to fallback to oldie, one file wrapper - yeap i know, shame on me, but tommorow early morning i have to present working solution)

PS. I think you're doing a great job. keep coding :)

[2017-05-14 14:02] xXXIMMATTHEWXXx commented on #162
Thank you!
To anwser your questions:
1) We are still working on getting branches integrated. :(
2) No problem. Any help is always welcome!

[2017-05-14 23:13] abdullahseba opened #163 "Some PHP error in the latest version while using getMessages()"
Hi again :)
I just update my projects dependences with composer and now `getMessages` is returning this:
[code]
A typo maybe?

[2017-05-14 23:30] xXXIMMATTHEWXXx commented on #163
Thank you! We seem to have an issue with array declaration. Will look
further into this

[2017-05-15 11:06] techie42 commented on #161
The issue is the "imap_fetchbody" call in the "imapFetchbody" function in file "IncomingMessage.php", around line 506.  According to the docs on php.net, FT_PEEK should be added as an option on the call in order to preserve the read status when fetching the message body.  If FT_PEEK is not used, then imap_fetchbody will change the read status to SEEN.

For example, if I modify the original code to

[2017-05-15 11:10] xXXIMMATTHEWXXx commented on #161
Thank you. I will add this as well as a comment so other devs know

[2017-05-15 11:20] #161 closed

[2017-05-15 11:21] techie42 commented on #161
Thank you very much :) Great response. This library makes life so much easier :)

[2017-05-15 11:22] xXXIMMATTHEWXXx commented on #161
Your welcome! I have just commited the update. Let me know if you have any
other problems :)

[2017-05-15 11:27] abdullahseba commented on #161
Cant try cuz of #163 :(

[2017-05-15 11:29] xXXIMMATTHEWXXx commented on #161
Yes, I am working on this as we speak. I plan to have this fixed by today

[2017-05-15 11:32] xXXIMMATTHEWXXx commented on #163
@abdullahseba what is the latest commit you recall where this worked?

[2017-05-15 11:34] abdullahseba commented on #163
Idk :( I just updated my project and this happend to be part of it.

[2017-05-15 11:35] xXXIMMATTHEWXXx commented on #163
Okay, what version did you have before you updated?

[2017-05-15 11:36] abdullahseba commented on #163
No idea I just run composer without looking

[2017-05-15 11:38] abdullahseba commented on #163
https://github.com/SSilence/php-imap-client/commit/8412814ebe13737dbbd337916a1b9d30f2cadf18 ?

[2017-05-15 11:38] abdullahseba commented on #163
`Parse error: syntax error, unexpected ':', expecting ')' in C:\xampp\htdocs\mail2\vendor\ssilence\php-imap-client\ImapClient\IncomingMessage.php on line 362`

[2017-05-15 11:38] abdullahseba commented on #163
line number matches

[2017-05-15 11:39] xXXIMMATTHEWXXx commented on #163
Let me undo that commit and see. I was attempting to fix travis

[2017-05-15 11:41] xXXIMMATTHEWXXx commented on #163
I have reverted that commit. Let me know

[2017-05-15 11:41] abdullahseba commented on #163
`$travisIsABaby` LOOOOL xD

[2017-05-15 11:41] abdullahseba commented on #163
ok

[2017-05-15 11:42] abdullahseba commented on #163
WORKS!

[2017-05-15 11:46] xXXIMMATTHEWXXx commented on #163
Hmmm. It works but Travis detects a syntax error. I will continue to look into this. May this issue be closed?

[2017-05-15 11:46] abdullahseba commented on #163
yes

[2017-05-15 11:46] #163 closed

[2017-05-15 11:47] abdullahseba commented on #161
Yep it works :)

[2017-05-15 11:47] xXXIMMATTHEWXXx commented on #161
:)

[2017-05-15 12:38] xXXIMMATTHEWXXx opened #164 "Fix travis"
We need to fix Travis. Figure out a way to test how mailboxes will work...

[2017-05-15 15:21] filipefreitas82 commented on #159
Documentation is still down?
Can't access any of the docs.

[2017-05-15 15:31] alfonsobries commented on #159
Seems that is still down

[2017-05-15 16:23] anielka commented on #159
this may help as a workaround:
https://github.com/SSilence/php-imap-client/tree/master/docs/guide
bon apetite :D

[2017-05-15 17:53] xXXIMMATTHEWXXx commented on #159
Yeah. I may change all the documentation links to use the static ones from
github

[2017-05-18 09:26] usolved opened #165 "Documentation: Some .md files are missing"
### Feature request or bug
Bug

### If a bug, what happened?
Several topics of the documentation can't be accessed. For example Getting started, Connecting, Error database, Installing, ...

### If a bug, list steps to reproduce bugs.
Example:
When clicking on http://ssilence.github.io/php-imap-client/gettingstarted.html it tries to load gettingstarted.md as Ajax request. But the file is not found

[2017-05-18 09:48] xXXIMMATTHEWXXx commented on #165
Thank you I will look into fixing this

[2017-05-20 17:59] abdullahseba opened #166 "whats the diffrence between getMessageOverview() and getMessagesOverview()?"
Hi
whats the difference between `getMessageOverview()` and `getMessagesOverview()`

one returns:
[code]
the other:
[code]
why do both require an id?
if it had sort option and got the all the messages in the folder like `getMessages()` it would be perfect cuz its much faster than `getMessages()`
Thanks

[2017-05-20 18:40] abdullahseba opened #167 "Why are the docs blank?"
The new docs have been blank for some time now. I think the old ones should be kept till the new one isfinished.

[2017-05-21 19:23] MSAyrese commented on #134
@xXXIMMATTHEWXXx I decided to Completely delete your hooey library from my project and use an other library.

[2017-05-21 19:23] #134 closed

[2017-05-21 20:02] xXXIMMATTHEWXXx commented on #134
Dont matter to me. Or anyone. We all like to eat and have jobs to worry
about. I also have physical injuries restricting me. Sorry bud we all gotta
keep ourselves up first

[2017-05-21 23:33] xXXIMMATTHEWXXx commented on #167
I am working on fixing it. Due to a physical injury, I haven't really been on key with it.

[2017-05-21 23:33] xXXIMMATTHEWXXx commented on #166
I did not originally write those methods. @sergey144010 can you please explain?

[2017-05-21 23:34] abdullahseba commented on #167
Sorry to hear it hope you get better.

[2017-05-21 23:35] xXXIMMATTHEWXXx commented on #167
Me too! I have begun the update!

[2017-05-21 23:52] xXXIMMATTHEWXXx commented on #167
All good. I have pushed. Getting started somehow is acting weird but it may just be cached.

[2017-05-21 23:52] #167 closed

[2017-05-21 23:52] xXXIMMATTHEWXXx commented on #165
I have fixed this :)

[2017-05-21 23:52] #165 closed

[2017-05-21 23:54] xXXIMMATTHEWXXx commented on #162
Hey, would you mind updating and showing me the new error?

[2017-05-22 10:12] anielka commented on #162
sure, no prob, but later today. in couple of hours i'll find some time to do that :)

[2017-05-22 10:13] xXXIMMATTHEWXXx commented on #162
Thanks!

[2017-05-22 16:32] usolved commented on #165
Thanks :)

[2017-05-24 09:28] abdullahseba opened #168 "setUnseenMessage() true or false does the same thing"
Hi
`$imap->setUnseenMessage(1,  $seen = true);`  and `$imap->setUnseenMessage(1,  $seen = false);`
sets the message as unread. Also whats the difference between `id` and `uid`?

[2017-05-24 09:31] abdullahseba opened #169 "Need a setFlag method"
Hi
Is the a method that sets flags?
If not could it be added?
Thanks.

[2017-05-24 11:12] xXXIMMATTHEWXXx commented on #169
Hello! This is currently not added! I will begin working on it!

[2017-05-24 11:18] xXXIMMATTHEWXXx commented on #168
You must use the id. UID and IDS are both used differently by php. Fixing this now..

[2017-05-24 11:23] xXXIMMATTHEWXXx commented on #168
setUnseenMessage ONLY can set the message as seen. It cannot set the unseen flag according to [here ](http://php.net/manual/en/function.imap-clearflag-full.php) and [here](http://www.faqs.org/rfcs/rfc2060.html).

[2017-05-24 11:26] abdullahseba commented on #168
Why does it require the  boolean value than? There should be a `setSeenMessage()` than.
But personal I would prefer one method that did both.

[2017-05-24 11:28] xXXIMMATTHEWXXx commented on #168
It does not require the boolean. The docs are incorrect which I will fix.
We cannot set a message as seen as you can read above. The only way I can
think to read a message without the stay unread modifier we apply. What do
you think?

[2017-05-24 11:29] xXXIMMATTHEWXXx commented on #168
Also setUnseenMessage would be renamed if it had two functions. How about
setMessageSeenState?

[2017-05-24 11:32] abdullahseba commented on #168
` setUnseenMessage` Is perfect. I'm haven't got much programming experience so cant comment on how its done. Only 17 :)

[2017-05-24 12:20] xXXIMMATTHEWXXx commented on #168
Well let's not go into age here :) (Just know im wayy younger than you
think. Younger than you.. ) Anyways I think that way will work. I will
begin testing this and ill commit it later :)

[2017-05-24 13:38] abdullahseba commented on #168
Ah but I'm a nub too. just started PHP this year :)

[2017-05-24 13:40] xXXIMMATTHEWXXx commented on #168
Ah :) Started about 2 :). Anyhow my method seems to be the best I can find

[2017-05-24 18:34] sergey144010 commented on #166
The first returns one object, and the second array of objects. To return an array of objects, a range of values is required, for example 1:5. Therefore, in the first case, only one id is needed, for example 3, and in the second one, for example, 1:3.
More details can be found here http://php.net/manual/en/function.imap-fetch-overview.php

 sequence
    A message sequence description. You can enume

[2017-05-24 19:04] sergey144010 commented on #168
1. This method setUnseenMessage($ids) is a wrapper for this imap_clearflag_full(). So he returns boolean.
More details here http://php.net/manual/en/function.imap-clearflag-full.php

Returns TRUE on success or FALSE on failure.

[code]

2. About ID and UID.

You have an INBOX folder on the mail server. When a message arrives there, it is marked as ID = 1 and UID = unikid9238, when the next letter

[2017-05-24 21:40] abdullahseba commented on #166
Makes sense. I'll close the issue.

[2017-05-24 21:40] #166 closed

[2017-05-26 15:18] abdullahseba commented on #141
`getMessagesOverview()` has the same problem.
![image](https://cloud.githubusercontent.com/assets/25548754/26500735/00a3b1d2-422f-11e7-8c3c-994f9f5bf1f7.png)

[2017-05-26 15:20] abdullahseba commented on #141
I think this is related to IMAP and will have to be sorted by `udate` in php.

[2017-05-26 15:32] sergey144010 commented on #141
On the frontend sorted try?

[2017-05-26 15:36] abdullahseba commented on #141
I will do for now, probably using Tablesorter.  But ideally it should be done in php.

[2017-05-26 15:43] abdullahseba opened #170 "getMessagesOverview() subject returns gobbledygook"
![image](https://cloud.githubusercontent.com/assets/25548754/26501703/3d0b4e66-4232-11e7-9ddf-adf4bd0c6d6c.png)
The actual subject is `Microsoft Outlook Test Message`

![image](https://cloud.githubusercontent.com/assets/25548754/26501799/82894326-4232-11e7-9fcb-49f3b165496e.png)

[2017-05-26 15:45] abdullahseba commented on #170
The rest is ok for some reason.

[2017-05-26 16:37] xXXIMMATTHEWXXx commented on #141
I agree. +1. I'll work on this later

[2017-05-26 16:39] xXXIMMATTHEWXXx commented on #170
Hmm. This may be due to line limiting?

[2017-05-26 16:48] abdullahseba commented on #170
Might be whats the limit?

[2017-05-26 17:34] abdullahseba commented on #141
While you about it, let us choose which way it does it 😉 `getMessagesOverview("1:5", ascending)`

[2017-05-28 19:11] abdullahseba opened #171 "imap_search method?"
Hi
Is there a method that uses `imap_search` ?
Also is there a way to easily use php IMAP functions that are not included in  php-imap-client with the same login? Saves all those feature requests.

[2017-05-29 00:02] abdullahseba opened #172 "getMessagesOverview needs to return id"
Hi agaiiiiiiiiiiiin
`getMessagesOverview` needs to return an id as well as `uid` its annoooying having to use `getId` all the time.

[2017-05-29 17:09] abdullahseba opened #173 "How do I use convertToUtf8()"
Hi how do I use `convertToUtf8()` ?
Docs just say  "Apply encoding defined in header".
And when I try using it it says at least one argument is expected.
I want `$imap->getMessages()` to be returned in UTF-8 otherwise I get all sorts of problems.

[2017-05-30 11:21] xXXIMMATTHEWXXx commented on #173
This is the function convertToUtf8:
[code]
All this code does is convert the provided string into utf8.

[2017-05-30 11:24] abdullahseba commented on #173
Dayum
My error log is full of these:
[code]

[2017-05-30 11:26] xXXIMMATTHEWXXx commented on #173
Is this with or without convertToUtf8?

[2017-05-30 11:28] abdullahseba commented on #173
Without.

its whats been returned by `getMessages()`.

And I cant convert it to JSON or XML for javascript on my client.

________________________________
From: Matthew Parks <notifications@github.com>
Sent: 30 May 2017 12:26
To: SSilence/php-imap-client
Cc: abdullahseba; Author
Subject: Re: [SSilence/php-imap-client] How do I use convertToUtf8() (#173)

Is this with or without convertToUtf8?

—
Y

[2017-05-30 11:32] xXXIMMATTHEWXXx commented on #172
According to our latest code in ImapClient.php, getMessagesOverview and getMessageOverview are basically the same thing. So, all we do it get the provided id and call the imap_fetch_overview. This is what returns the uid according to the docs. In order to call these, you need to have the id. I recommend making a php oop class. Like below
[code]
Then use it like so:
[code]

[2017-05-30 11:34] abdullahseba commented on #173
but its an array, You said string?

[2017-05-30 11:37] xXXIMMATTHEWXXx commented on #171
getImapConnection can get you the imap var. This can be used for those functions. Please, still request features as we are trying to build a  "knowledge base" of code so it works for all devs :)

[2017-05-30 11:37] xXXIMMATTHEWXXx commented on #173
How do you print your array?

[2017-05-30 11:37] #172 closed

[2017-05-30 11:39] abdullahseba commented on #173
`print_r()` as the ajax response.

[2017-05-30 11:39] abdullahseba commented on #173
But I need it as a JSON otherwise I'm stuck

[2017-05-30 11:42] xXXIMMATTHEWXXx commented on #173
So if im correct your making an ajax front end which connects to the backend?

[2017-05-30 11:42] abdullahseba commented on #171
ok will do :)

[2017-05-30 11:43] abdullahseba commented on #173
yes

[2017-05-30 11:44] xXXIMMATTHEWXXx commented on #171
Is this solved?

[2017-05-30 11:44] abdullahseba commented on #173
basically a waaay better alternative to squirrelmail and roundcube baseed on your library

[2017-05-30 11:45] abdullahseba commented on #171
yes

[2017-05-30 11:45] #171 closed

[2017-05-30 11:54] xXXIMMATTHEWXXx commented on #173
Let's say this is your workflow
!{workflow](http://i.imgur.com/nwPgk79.png)
As you can see, your front end, ajax, connects to your code which connects to ours. Let's say a user clicks an open email link. This makes ajax send the request to your code which requests ours. Let says the user clicked an email with the id of 1. Ajax goes to your code and says hey, I need the sender, the receiver, the su

[2017-05-30 11:58] xXXIMMATTHEWXXx commented on #162
Hey.... Is this still an issue?

[2017-05-30 12:02] abdullahseba commented on #173
Thats exactly what I'm doing so your library in a service provider and than my classes is in the controller.
Its using the  Slim framework.
[code]

[2017-05-30 12:07] abdullahseba commented on #173
Usually I would just `return` the JSON object, but that causes the UTF-8 error

[2017-05-30 12:09] xXXIMMATTHEWXXx commented on #173
So, try and hand make that arary. So if you get the subject of the email, utf8 it, add it to and array and do the same for all the other info, then return that array.

[2017-05-30 12:15] usolved opened #174 "Attachment: If the file type is Microsoft Office or TXT file it's not in attachments array"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
Attachments like Word or Text should be added to the attachments array

### If a bug, what happened?
Other attachments like PDF, PNG, JPG, ... are stored perfectly in the attachments array so I can read the name and the body (even embeded images are stored perfectly as attachments).

But as soon as I attach (for example)

[2017-05-30 12:15] abdullahseba commented on #173
whooo! Works! Thanks :)
I did mess around with `mb_x_encoding` previously but I messed up.

[code]

[2017-05-30 12:15] #173 closed

[2017-05-30 12:19] xXXIMMATTHEWXXx commented on #174
Hm.. It appears we dont support this yet. @sergey144010 can you help?

[2017-05-31 19:13] abdullahseba commented on #169
http://php.net/manual/en/function.imap-setflag-full.php

[2017-05-31 19:13] abdullahseba commented on #169
looks like it handles all flags.

[2017-05-31 19:36] abdullahseba commented on #171
I tried this but I get `Message: Call to undefined method SSilence\ImapClient\ImapClient::getImapConnection()`
[code]

[2017-05-31 19:37] xXXIMMATTHEWXXx commented on #171
Did you update?

[2017-05-31 19:37] abdullahseba commented on #171
I dont see it here either http://ssilence.github.io/php-imap-client/methods.html

[2017-05-31 19:37] xXXIMMATTHEWXXx commented on #171
Those arent up to date

[2017-05-31 19:38] abdullahseba commented on #171
oh is it a new feature? Leme try.

[2017-05-31 19:38] xXXIMMATTHEWXXx commented on #171
It is per your request ;)

[2017-05-31 19:40] abdullahseba commented on #171
Works! thanks.

[2017-06-03 18:49] abdullahseba opened #175 "Inline images come as attachment"
Hi
if an email has inline images they load as an attachment and wont show in the html at all.
Note the errors from them too.
![image](https://cloud.githubusercontent.com/assets/25548754/26756248/c1cbd3a0-4895-11e7-9144-f6029cac346e.png)

[2017-06-07 17:42] anielka commented on #162
hello there. no, it's work correct right now
excuse me my absence - health issures ;/

[2017-06-07 17:42] #162 closed

[2017-06-13 02:11] 3zzy commented on #174
Don't recognise CSV and ZIP either :(

[2017-06-16 18:27] abdullahseba commented on #175
#dead?

[2017-06-19 00:19] xXXIMMATTHEWXXx commented on #175
Hi sorry ive been inactive. Ill look into this

[2017-06-19 00:25] abdullahseba commented on #175
Never mind :)

[2017-06-19 00:55] xXXIMMATTHEWXXx commented on #175
Was it a mistake on your end?

[2017-06-19 02:13] abdullahseba commented on #175
No, the HTML has no images at all. it just comes as an attachment
[code]
Than I download the attachments separately for the preview.

[2017-06-21 13:34] n00el opened #176 "Class 'SSilence\ImapClient\SubtypeBody' not found in /home1/u8q7m3r8/public_html/require/phpimap/IncomingMessage.php:361"
Hi!
Every time I try to open a message, I got this message.
I put every file from the ImapClient to my folder, but it said, SubtypeBody not found. What can I do?

`<b>Fatal error</b>:  Uncaught Error: Class 'SSilence\ImapClient\SubtypeBody' not found in /home1/u8q7m3r8/public_html/require/phpimap/IncomingMessage.php:361
Stack trace:
#0 /home1/u8q7m3r8/public_html/require/phpimap/IncomingMessage.ph

[2017-06-21 13:42] xXXIMMATTHEWXXx commented on #176
Are you able to install via composer we highly recomend this

[2017-06-21 13:51] n00el commented on #176
Thanks for your very fast reply! Okey, then i try it!

[2017-06-21 14:04] xXXIMMATTHEWXXx commented on #176
Let me know! No problem

[2017-06-21 14:10] n00el commented on #176
I try it with composer, but it is still hard for me! :)

But I found a solution: If I require all files at first, (not only that some what I find in this doc: http://ssilence.github.io/php-imap-client/gettingstarted.html) it's working.

`  require_once $_SERVER['DOCUMENT_ROOT']."/require/phpimap/ImapClientException.php";
  require_once $_SERVER['DOCUMENT_ROOT']."/require/phpimap/ImapConnect.php";

[2017-06-21 14:25] xXXIMMATTHEWXXx commented on #176
When using composer are you using the auto loader?

[2017-06-21 14:47] n00el commented on #176
Yes!
And sorry for askint it there, but can I search with this library? For e.g. only list emails from a specific email?

[2017-06-28 12:22] matiux opened #177 "Mailbox encoding problem"
Hi,
i have a problem with getFolders() method.

[code]
I'm connected to my Gmail that contains some mailboxes like `Friends/Giò Rossi`

However, what I see is `Friends/Gi&API- Rossi`

Is there some internal methos which can solve this problem?

Thanks

[2017-06-28 12:46] matiux opened #178 "Bad message number Again"
Hi, I have read issue #92 but I have no warnings..
I have only wrong number of messages when call $imapClient->countMessages()

[code]

[2017-06-28 15:27] matiux commented on #178
I figured out that the problem is Gmail.
With my personal domain / email, the count works well ..
Some idea?

[2017-07-07 07:05] sergey144010 commented on #178
This error usually occurs when the message id is not valid. This method is very simple, there can be no mistakes.
[code]
http://php.net/manual/en/function.imap-num-msg.php

BUT all imap servers have different implementation. And they may not correctly work with  imap_num_msg().

Try to use imap_status() and pull out the number of messages from there.
[code]
http://php.net/manual/en/function.imap-s

[2017-07-08 09:56] sergey144010 commented on #174
I'll think of something.

[2017-07-10 18:59] MrRoudeLeiw opened #179 "Getting the HTML part of an email"
Hello,
Somehow I don't see how I can get the HTML part of this email. I provided an var_dump of the email, and marked the area where the HTML part is positionned with " //////#### WANTED ######"

Thanks for your help.

[mail.txt](https://github.com/SSilence/php-imap-client/files/1136725/mail.txt)

[2017-07-12 11:24] diego-vieira commented on #179
https://github.com/SSilence/php-imap-client/issues/157#issuecomment-297911343

[code]

[2017-07-13 23:51] mkhimself commented on #162
Fatal error: Cannot access empty property in /application/libraries/ImapClient/IncomingMessage.php on line 366

Did this ever get resolved? Am I doing something wrong?

[2017-07-14 18:15] TrueShutDown opened #181 "please delete this post :)"

[2017-07-15 12:01] weba1h opened #182 "Empty mail body as result of run imap_base64 twice"
Subject, test mail in attachment

[original_msg.txt](https://github.com/SSilence/php-imap-client/files/1150285/original_msg.txt)

[2017-07-16 06:52] sergey144010 commented on #182
You can turn off the decoding, and then decode separately what you need.
[code]

[2017-07-24 14:19] ZoTyA1975 opened #183 "How can I get only the message body"
Hello,

I'd like to get only the body from a message (the _body part). How can I do that?

`SSilence\ImapClient\SubtypeBody Object
(
    [charset] => iso-8859-2
    [_structure:SSilence\ImapClient\Section:private] => stdClass Object
        (
            [type] => 0
            [encoding] => 1
            [ifsubtype] => 1
            [subtype] => PLAIN
            [ifdescription] => 0

[2017-07-26 07:59] ZoTyA1975 commented on #177
You can use this:
mb_convert_encoding($foldername, 'UTF-8', 'UTF7-IMAP')

[2017-07-27 19:22] anielka commented on #162
if working on plain php then you have to include all package files, not only those from example.
btw. hello again, the best option is to edit docs and add "full include block". that will eliminate this error and propably future questions about it. for now I have no idea what is requested, so i require_once everything :)

[2017-07-27 20:47] mkhimself commented on #162
Im using codeigniter, Its been fourteen days and Ive completely forgot what the issue was, but no matter i resolved it somehow. No worries

[2017-07-27 23:48] anielka commented on #183
$mail->message->html

[2017-07-29 12:53] TrueShutDown opened #185 "Only one recipients recognized in TO header"
Headers CC, BCC are correctly recognized, but TO header include only one recipients

This is part of header message and dump IncomingMessage object

[code]

[2017-08-02 19:30] sergey144010 commented on #183
or $mail->message->plain

[2017-08-03 21:09] xXXIMMATTHEWXXx commented on #185
This may be an issue with some old code. Just got a pc so I'll be working on this

[2017-08-03 21:09] #181 closed

[2017-08-03 21:10] xXXIMMATTHEWXXx commented on #177
Closed because of @ZoTyA1975 solution. Thanks.

[2017-08-03 21:10] #177 closed

[2017-08-03 21:11] #154 closed

[2017-08-03 21:11] xXXIMMATTHEWXXx commented on #178
@matiux is this still an issue?

[2017-08-03 21:11] #164 closed

[2017-08-03 21:12] xXXIMMATTHEWXXx commented on #182
Closed for @sergey144010 's answer

[2017-08-03 21:12] #182 closed

[2017-08-03 21:13] xXXIMMATTHEWXXx commented on #179
Closed. @diego-vieira have the answer

[2017-08-03 21:13] #179 closed

[2017-08-03 21:14] xXXIMMATTHEWXXx commented on #158
Closed for inactivity. Open again if this is still and issue...

[2017-08-03 21:14] #158 closed

[2017-08-03 21:14] xXXIMMATTHEWXXx commented on #176
Just got a pc so sorry for not replying. The readme contains a link to the docs :D

[2017-08-03 21:14] #176 closed

[2017-08-03 21:15] xXXIMMATTHEWXXx commented on #183
Closed as solved.

[2017-08-03 21:15] #183 closed

[2017-08-03 21:15] xXXIMMATTHEWXXx commented on #174
@sergey144010 are you still working on this?

[2017-08-03 21:16] xXXIMMATTHEWXXx commented on #175
Thank you for working around this. We will fix this soon.

[2017-08-10 08:48] omerilk opened #186 "convertToUtf8 function"
### Feature request or bug
bug

### If a bug, what did you expect to happen?
convertToUtf8 function is converting the strings to UTF8 charset. But it is not taking care to source charset of string.

public function convertToUtf8($str) {
        if (mb_detect_encoding($str, "UTF-8, ISO-8859-1, GBK")!="UTF-8") {
            $str = utf8_encode($str);
        }
        $str = iconv('UTF-8', 'UTF-8//IG

[2017-08-10 12:59] xXXIMMATTHEWXXx commented on #186
Thank you! I will look into this

[2017-08-16 17:35] a-zubrzycki opened #187 "Trying to get property of non-object IncomingMessage.php, line 364"
Hey there,
It's my first post at Github at all.

I have this issue when in my mailbox are emails from mailer deamons of type - email couldn't be delivered etc. When I delete this feedback message everythings starts to work again.

Do u need something more?

![screen01](https://user-images.githubusercontent.com/5747204/29376800-0fc90984-82ba-11e7-858e-8407de117a8f.png)

[2017-08-16 17:38] xXXIMMATTHEWXXx commented on #187
Hey! Welcome to the almighty GitHub. Ill be sure to look at this when I get
home. I can currently coming back from vaction. Ill let you know

[2017-08-16 17:39] adri-smith commented on #187
Thank you!

[2017-08-17 12:05] TrueShutDown commented on #185
any solutions?

[2017-08-17 13:54] xXXIMMATTHEWXXx commented on #185
Got back yesterday. I will look at today as soon as I get out of bed...

[2017-08-23 17:35] foxdirect commented on #187
Underneath the FOREACH, I inserted this on new line 363 and it fixed it:
	        if (empty($this->getSection($section, array('class' => $subType)))) continue;

[2017-08-26 19:59] jorygun opened #189 "quotable-printable error"
### Feature request or bug
Bug, but not sure if code bug or user bug
### If a bug, what did you expect to happen?
Perfection ?
### If a bug, what happened?

### If a bug, list steps to reproduce bugs.

### If a bug, did you do these steps?
[x] Download and use the lastest stable version
[x] See if the issue has already been reported
[x] Debug

### If a feature request, what do you want to be added

[2017-08-26 20:31] jorygun commented on #189
The raw message does in fact show encoding is quoted printable.
--Apple-Mail=_6A494713-DB75-4D0E-9ED7-9A45342F18F6
Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain;
	charset=us-ascii

[2017-08-27 12:23] oliwin opened #190 "Warning: array_merge(): Argument #2 is not an array"
Warning: array_merge(): Argument #2 is not an array in C:\xampp\htdocs\tmp\ImapClient\ImapClient.php on line 852

Fatal error: Maximum execution time of 30 seconds exceeded in C:\xampp\htdocs\tmp\ImapClient\IncomingMessage.php on line 509

[2017-08-30 18:04] xXXIMMATTHEWXXx commented on #190
I have not seen this in the current version.. please use composer to update and make sure you are doing stuff correctly. Tell me if not...

[2017-08-30 18:05] xXXIMMATTHEWXXx commented on #189
It seems another web service has the same issue: https://github.com/mailwatch/MailWatch/issues/702

[2017-08-30 18:06] xXXIMMATTHEWXXx commented on #189
Also may have to do with apple mail... They arent to nice :)

[2017-08-30 18:07] xXXIMMATTHEWXXx commented on #187
@sergey144010 wrote that. @sergey144010 ping if you would

[2017-08-30 18:08] xXXIMMATTHEWXXx commented on #186
@sergey144010  if you would.....

[2017-08-30 18:08] xXXIMMATTHEWXXx commented on #185
I haven't seen the code in a bit, try a temporary downgrade and tell me if it ever worked in the first place

[2017-08-30 18:09] xXXIMMATTHEWXXx commented on #178
I assume we good here :D

[2017-08-30 18:09] #178 closed

[2017-08-30 18:10] xXXIMMATTHEWXXx commented on #175
@sergey144010  ping

[2017-08-30 18:10] xXXIMMATTHEWXXx commented on #174
@sergey144010 ping(Sorry lol ill get used to the code I promise)

[2017-08-30 18:12] xXXIMMATTHEWXXx commented on #144
@abdullahseba did you ever orr?

[2017-08-31 03:26] jorygun commented on #189
Experimented some more...  attached some code, output and email source code, if it helps.
[qp problem.txt](https://github.com/SSilence/php-imap-client/files/1265685/qp.problem.txt)

[2017-08-31 03:26] #189 closed

[2017-09-02 11:07] dshinius commented on #174
common guys
there is nothing to think about. Just patch your code.
The solution is to modify one line off accepted attachments types in the class TypeAttachments:

class TypeAttachments
{
    /**
     * Types of attachments.
     *
     * @var array
     */
    private static $types = array('JPEG', 'PNG', 'GIF', 'PDF', 'X-MPEG', 'MSWORD', 'OCTET-STREAM');
#modify to whatever you want here
    priv

[2017-09-02 13:15] xXXIMMATTHEWXXx commented on #174
If your mad about it, make a pull request. You forget no one here is
payed... This is a side project for everyone. Make a pull request or ill
edit it later...

SMH

[2017-09-02 16:50] dshinius commented on #174
THX for your reply. I am not mad about it. Tried to help and identify the reason...

Am 2. September 2017 15:15:36 MESZ schrieb Matthew Parks <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2017-09-03 22:27] #174 closed

[2017-09-12 21:46] gr0g commented on #189
any ETA on the fix for this? thanks!

[2017-09-22 13:16] filipefreitas82 opened #191 "Null email attachment name"
Bug
[code]
Should return the attachment name instead of NULL.

Debug
Attached an email with the following file:

This is the info part of the attachment object:

[code]

[2017-09-22 13:24] xXXIMMATTHEWXXx commented on #191
Are you sure it is being decoded correctly?

[2017-09-22 14:00] filipefreitas82 commented on #191
How can I be sure?

[2017-09-22 14:14] xXXIMMATTHEWXXx commented on #191
Make sure the var dump name is equal to that of when it was sent

[2017-09-23 14:11] TrueShutDown commented on #185
How can I downgrade and to which version? I use composer
[code]

[2017-09-24 17:55] iBooster commented on #187
I do have the same Error when just simply use this code:

`$emails = $imap->getMessages();`

so this is a bug and will be fixed? (first post on github, since ever :D )

[2017-09-24 18:47] xXXIMMATTHEWXXx commented on #187
This may be due yo no messages being their at all

[2017-09-24 18:54] iBooster commented on #187
There are about 2600 emails in the inbox folder, so I think that's not the problem

[2017-09-24 19:56] xXXIMMATTHEWXXx commented on #187
Hmm I will look into this again

[2017-09-25 11:43] iBooster commented on #187
To Help you a little bit, thats the code which I use
`$mailbox = 'von-gerle.de';
	$username = 'myUsername';
	$password = 'myPassword';
	$encryption = Imap::ENCRYPT_SSL; // TLS OR NULL accepted

	$imap = new Imap($mailbox, $username, $password, $encryption);

	$folders = $imap->getFolders();
	$output = '';
	foreach($folders as $folder) {
	    echo $folder;
	}

	// Select the folder INBOX
	$imap->se

[2017-09-25 11:56] xXXIMMATTHEWXXx commented on #187
Hey do you mind updating an re running your code to make sure the lines
march up again

[2017-09-25 16:27] iBooster commented on #187
okay, i've updated it, but still the same error.

[2017-09-25 16:30] xXXIMMATTHEWXXx commented on #187
it still echos from line 364 correct?

[2017-09-25 16:31] iBooster commented on #187
maybe this can help you a bit:
![grafik](https://user-images.githubusercontent.com/32245818/30819667-ba14e564-a21f-11e7-8a88-c27bf70a3293.png)

[2017-09-25 16:38] xXXIMMATTHEWXXx commented on #187
The message is cannot access empty ???

[2017-09-25 16:41] iBooster commented on #187
sorry, yes the messages is "cannot access empty property"

[2017-09-25 17:37] xXXIMMATTHEWXXx commented on #187
Try and remove the \

[2017-09-25 17:49] xXXIMMATTHEWXXx commented on #187
Ah! I got it! Remvoe the $ fro, subtype on that line! Let me know

[2017-09-25 22:03] iBooster commented on #187
i did, now i get this 'Call to a member function __get() on null'
In Line 377

[2017-09-25 22:06] iBooster commented on #187
okay, after i removed the $ in both lines (366, 377) i got the "cannot access empty property" but this time for line 699

![grafik](https://user-images.githubusercontent.com/32245818/30833281-9600bd36-a24e-11e7-9674-923bb848a225.png)

[2017-09-25 22:18] xXXIMMATTHEWXXx commented on #187
I will download the code tommrow after school and fully fix this

[2017-09-28 16:28] xXXIMMATTHEWXXx commented on #187
Please, update your code with my leastest commits

[2017-09-28 16:36] xXXIMMATTHEWXXx commented on #186
According to this code:
   public function convertToUtf8($str) {
        if (mb_detect_encoding($str, "UTF-8, ISO-8859-1, GBK")!="UTF-8") {
            $str = utf8_encode($str);
        }
        $str = iconv('UTF-8', 'UTF-8//IGNORE', $str);
        return $str;
    }
If, its not utf8, we encode to utf8, then decode it. Ignoring special characters, then it retuyrns the string. Could you provide th

[2017-09-28 17:11] iBooster commented on #187
I am sorry that I have to ask, but how do I update with your commit ? I use composer

[2017-09-28 18:11] xXXIMMATTHEWXXx commented on #187
No problem :) I don't remember the command by heart myself lol. Try
composer update. If not just Google it lol

[2017-09-29 14:10] xXXIMMATTHEWXXx commented on #187
Did that fix the issue?

[2017-10-03 15:06] xXXIMMATTHEWXXx commented on #187
Herooooooooo????????

[2017-10-03 15:07] xXXIMMATTHEWXXx commented on #190
Closed due to inactivity. If this is still can issues please open it again with more detail

[2017-10-03 15:07] #190 closed

[2017-10-05 11:10] spatnynick commented on #187
Hi the warning on line 699 is still occurring (and some others warnings); in attachment is output from:
var_dump($typeMessage);echo("\n\n"); var_dump($this->message); die;
in coding IncomingMessage.php & ln 699; there is no $this->message->typeMessage->structure existing

[errout.log](https://github.com/SSilence/php-imap-client/files/1359042/errout.log)

[2017-10-05 11:12] xXXIMMATTHEWXXx commented on #187
I will look into this later.

[2017-10-07 14:53] xXXIMMATTHEWXXx commented on #187
May I see the full stack trace and error? Screenshots are okay

[2017-10-07 18:17] spatnynick commented on #187
there is what I get:
PHP Warning:  Creating default object from empty value in
/home/aaa/utils/rf-vypisy/php-imap-client/ImapClient/IncomingMessage.php on
line 385
PHP Notice:  Undefined property: stdClass::$typeMessage in
/home/aaa/utils/rf-vypisy/php-imap-client/ImapClient/IncomingMessage.php on
line 699
PHP Notice:  Trying to get property of non-object in
/home/aaa/utils/rf-vypisy/php-imap-clie

[2017-10-16 10:32] reimax commented on #186
[code]

in Documentation i see setEncoding() but if use, get error.

[2017-10-16 17:25] xXXIMMATTHEWXXx commented on #186
Would you please post that error?

[2017-10-16 19:40] reimax commented on #186
setEncoding() i see in archive/ImapClient.php
in ImapClient/ImapClient.php there is no such this function

http://ssilence.github.io/php-imap-client/methods.html - in documentation setEncoding()

is there a solution to the encoding problem now? some letters are defined correctly, some are not. The methods listed in this thread do not help. checked when connecting to office 365.

[2017-10-20 13:28] willmedtrainingsolutionscom commented on #128
"Unicode and decoding of messages" is a note right now, but not an issue according to the project board.

Who would be able to upgrade this to a proper issue so that it can be addressed?

[2017-10-27 07:27] Garzia commented on #191
Modify the IncomingMessageAttachment.php file.
I converted the name of the attribute associated with the name of the attachment in lowercase since at times it can be written all in uppercase.

` /**
     * Returns the name of the attachment along with file extension.
     *
     * @return string
     */
    protected function getName()
    {
        // Check for different types of inline attachmen

[2017-10-27 12:57] xXXIMMATTHEWXXx commented on #191
Hey! What were you trying to do? If you want to submit improvements please
use githubs pull request feature!

[2017-11-07 08:40] reimax commented on #169
in ImapClient.php add:

`
     /**
     * Set flag message
     *
     * @param int $ids or string like 1,2,3,4,5 or string like 1:5
     * @return bool
     */
    public function setFlagMessage($ids, $flags)
    {
        // We need better docs for this
        return imap_setflag_full($this->imap, $ids, $flags, ST_UID);
    }

    /**
     * Unset flag message
     *
     * @param int $ids or s

[2017-11-07 18:38] xXXIMMATTHEWXXx commented on #169
Hello. I would be happy to add this code but in order to properly give you credit, I need you to submit a pull request. Would you mind that?

[2017-11-08 05:42] reimax commented on #169
yes, I do not mind. i copy the code, this will be enough?

[2017-11-21 18:01] Xavious opened #194 "Advanced Connect Issues / Redundant Inputs Required / Unused member variables"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
To connect using the parameters provided.

### If a bug, what happened?
Using advanced connection parameters is misleading because it throws errors for missing array keys, but it never uses those keys when actually utilizing the connect() method. In fact, I do not see anywhere that the ImapConnect class uses its member va

[2017-11-21 19:14] xXXIMMATTHEWXXx commented on #194
I see. I can't get Sergey to ping. We may have to do a re write

[2017-11-21 19:56] Xavious commented on #194
This may be a misunderstanding on my part. Since the advanced configuration isn't really documented, I've been trying to piece it together from the code and it's been a bit of a process.

[2017-11-22 15:21] xXXIMMATTHEWXXx commented on #194
Yea very sorry. I don't know how it works as he never wrong any in code
comments on it.

[2017-11-22 17:12] Xavious commented on #194
I think it was probably a misunderstanding on my part. Here's a sample advanced configuration for anyone wanting to use DISABLE_AUTHENTICATION.
[code]

[2017-11-22 17:12] #194 closed

[2017-11-28 21:54] wp-entwickler-at commented on #187
hey there!
I got the same problem and the solution is quiet easy:

![grafik](https://user-images.githubusercontent.com/6277633/33346069-b17b8754-d48e-11e7-8470-9195848854d9.png)

Some Mails don't have a plaintext mailbody.
So you would try to give $objNew a NULL property!
That is the problem, my code is a possible solution.
Greetz and keep up the good work!

[2017-12-01 13:00] xXXIMMATTHEWXXx commented on #191
Hi! I have changed some code. Also in your example I see the name was properly kept. Please pull the latest code and let me know.

[2017-12-03 07:51] quangvi282 opened #195 "PHP Fatal error: Cannot use object of type IncomingMessage as array"
when i getmessages,  it return this error ( emails[0]['id'] not valid)

[2017-12-05 21:02] brendonofficial commented on #186
Perhaps this library should look at using [neitanod/forceutf8](https://github.com/neitanod/forceutf8) for UTF-8 conversion?

[2017-12-06 12:20] xXXIMMATTHEWXXx commented on #186
I will look into it. However we may need a library that does more then
UTF-8 as this may not be intended behavior.

[2017-12-06 13:33] aresofficial commented on #185
Hello. How can i solve this issue?

[2017-12-13 00:50] wp-entwickler-at opened #196 "Bug when saving message body and converting with imap_base64()"
### Bug
See here:
https://github.com/SSilence/php-imap-client/blob/master/ImapClient/IncomingMessage.php#L701
![grafik](https://user-images.githubusercontent.com/6277633/33916064-41efa5a4-dfa7-11e7-999a-8bff67791ab0.png)

During the assigning of the message body to the class property it could happen that you assign NULL or ERROR!
E.G:
[code]
If $this->message->$typeMessage->body is empty or no bas

[2017-12-19 17:52] xXXIMMATTHEWXXx commented on #195
Can you please share your full error?

[2017-12-19 17:52] xXXIMMATTHEWXXx commented on #196
Hi! Thanks for your report. In order to give you proper credit for your fix, would you mind opening a pull request?

[2017-12-27 09:33] reimax opened #197 "send message not work?"
connect to mailbox, download message. now i try send message.

my code

[code]
message not send.  how to correctly send a message? createBody() i replace to my variant

[code]

[2018-01-02 09:12] sabas opened #198 "Add atttachment types dynamically"
Would it be possible to add new attachment types dynamically?
When I pull I manually edit the TypeAttachment class to add a string 'EDI' in the array $types.
Thanks!

[2018-01-08 16:13] AlexBevilacqua opened #199 "Typo in ImapClient/IncomingMessageAttachment.php"
Just ran `composer update` and looked at the canges, so I noticed

in file ImapClient/IncomingMessageAttachment.php

https://github.com/SSilence/php-imap-client/blob/1c7514b57cabf5816bb6f75bb560728989575dfd/ImapClient/IncomingMessageAttachment.php#L66

and

https://github.com/SSilence/php-imap-client/blob/1c7514b57cabf5816bb6f75bb560728989575dfd/ImapClient/IncomingMessageAttachment.php#L73

doesn'

[2018-01-08 16:22] xXXIMMATTHEWXXx commented on #199
Althhough this is correct and will be fixed, I believe it shouldn't cause
issues

[2018-01-10 19:45] israelfl commented on #199
Today I had problems while saving attachments from gmail. The filename is setting empty so I have tested the solution proposed by @AlexBevilacqua,

`if (strtolower($param->attribute) === 'name')`

And it works perfectly but with the current code fails.

This is the error msg I received:

`Warning: file_put_contents(C:\...\...\...\...\attachment-dir\...\...\ <----- (here must be the name of file)):

[2018-01-15 10:54] deepak458 commented on #175
i don't know how to decode all of this code can you help for decode all this code & **abdullahseba** **xXXIMMATTHEWXXx** if you have any full code then please inform me or give me some tutorial video or website

[2018-01-15 11:16] deepak458 opened #200 "message file issue"
I'm Using Your code into test as "tests/Message.php". My code is below

    `namespace SSilence\ImapClient\Tests;
     require_once "../autoload.php";

     use SSilence\ImapClient\Tests\MessageInterface;
     use SSilence\ImapClient\ImapClientException;

     class Message implements MessageInterface{
         public $body;

    public function send($stream, $folder)
    {
        $status = imap_

[2018-01-15 17:46] deepak458 opened #201 "When I'm trying to Get all folders as array of strings its showing error"
I'm Using Code as you Say Like
`$folders = $imap->getFolders();
foreach($folders as $folder) {
    echo $folder;
}`

**But It's Showing Error Like**

Notice: Array to string conversion in C:\xampp\htdocs\ats\mail-2\mail-4\inbox.php on line 26
Array

[2018-01-16 17:48] #200 closed

[2018-01-16 22:56] xXXIMMATTHEWXXx commented on #175
I dont know what you mean by full code. Our code is available in the repo though.

[2018-01-16 22:56] xXXIMMATTHEWXXx commented on #199
This will be fixed

[2018-01-16 22:56] xXXIMMATTHEWXXx commented on #198
We plan to add this

[2018-01-16 22:57] xXXIMMATTHEWXXx commented on #197
Send message is currently not fully implmented

[2018-01-17 04:06] deepak458 commented on #175
Hello,

Thanks for your reply. I'm a little confused how I use your code to get my
emails. Can I use it json or use it on page code.

And when I want to show my mail subject out of foreach it's show only one.

If you have any idea how I can use with Ajax or json then please suggest me.

And how I set set value when someone open mail then mark as read and how to
search work.

And how I check its ha

[2018-01-17 05:02] deepak458 commented on #199
Hello Dear,

I have a issue when i'm trying to get my mails its showing error
[mail-action.txt](https://github.com/SSilence/php-imap-client/files/1637785/mail-action.txt)

Error is:

    `INBOX
     Notice: Trying to get property of non-object in
     C:\xampp\htdocs\ats\classes\phpmail\ImapClient\IncomingMessage.php on line 364

     Fatal error: Uncaught Error: Cannot access empty property in

[2018-01-17 10:24] deepak458 opened #202 "showing error when try to connect wit another email id"
Hello Dear,
My All Code working good but when i'm trying to change my email address its not work. everything is right its connection and also getting folders but not emails. you can see my attachment for code
[mail-action.txt](https://github.com/SSilence/php-imap-client/files/1638550/mail-action.txt)
 and its showing error like that.

**Please Help Me OUT.**

    `INBOX
     Notice: Trying to get

[2018-01-19 12:30] qualityplatforms opened #203 "Sometimes email body is empty"
### Feature request or bug
bug

### If a bug, what did you expect to happen?
get the body of the message

### If a bug, what happened?
$mail->message->plain & $mail->message->html receives an null

### If a bug, list steps to reproduce bugs.
The problem exist when i have an long conversation. After like 5 replies the mail receives nothing. I was using roundcube for replies.
### If a bug, did you d

[2018-01-30 23:04] likemusic opened #207 "Where to put pull-requests?"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
'dev'-branch in git repository or actualized info in [Contributing page](http://ssilence.github.io/php-imap-client/contributing.html)

### If a bug, what happened?
There is no 'dev' brunch in git repository. But on [Contributing page](http://ssilence.github.io/php-imap-client/contributing.html) said

[2018-01-31 18:02] xXXIMMATTHEWXXx commented on #207
Sorry for this mistake, you are meant to fork and commit then merge. I will fix this.

[2018-01-31 18:03] xXXIMMATTHEWXXx commented on #207
I have add a commit. Please check and confirm.

[2018-01-31 18:05] xXXIMMATTHEWXXx commented on #203
Having long conversations may be an issue. I cannot seem to replicate it. If someone else can replicate this, we will look into fixing it.

[2018-01-31 18:06] xXXIMMATTHEWXXx commented on #202
Please use a new instance for the imap client for EACH email, if you implement a multi mail system, please use a new object for each email and its login.

[2018-01-31 18:06] #202 closed

[2018-01-31 18:09] xXXIMMATTHEWXXx commented on #199
// Ontopic
I have added a commit. Please test your code and let me know
// Offtopic
@decadence Please use the create issue feature on github

[2018-01-31 18:09] #197 closed

[2018-01-31 18:09] xXXIMMATTHEWXXx commented on #191
No comment for extended time. We assume this issue has been fixed.

[2018-01-31 18:09] #191 closed

[2018-01-31 18:12] xXXIMMATTHEWXXx commented on #196
I need you to create a commit or let me push this fix myself. @wp-entwickler-at

[2018-01-31 18:27] likemusic commented on #207
Looks good.

[2018-01-31 18:27] #207 closed

[2018-02-13 14:12] xXXIMMATTHEWXXx commented on #186
Should be fixed as of latest commit.

[2018-02-13 14:12] #186 closed

[2018-02-13 14:12] #199 closed

[2018-02-22 03:06] deepak458 commented on #202
Ok thank you

[2018-02-26 17:17] kekatxxx opened #211 "Image embedded not able to get REF ID"
Hi, thanks for the library that I found extremely useful.

Now I encountered a problem: I'm trying to manage the embedded images that are included on the body of the message, but I can get only the $attachment->info properties that not include the "reference ID".
To be precise my problem is this:

My mail has the body like this:

`<img src="cid:ii_161be4ca41817e30" alt="Immagine incorporata 1" wid

[2018-03-09 13:40] cleitongarcia commented on #201
[code]

[2018-03-09 13:40] cleitongarcia commented on #201
**This not is a issue!**

[2018-03-09 15:29] xXXIMMATTHEWXXx commented on #201
Yep. Just invalid PHP syntax.

[2018-03-09 15:29] #201 closed

[2018-03-09 15:30] xXXIMMATTHEWXXx commented on #211
I don't know off the top of my head. @sergey144010 ping. In the mean time just use a laster version

[2018-03-09 16:57] cleitongarcia opened #212 "How to get Forward message?"
How i can get a forwarded message?

Now i can nulled.

Obs.: I have a modification for ImagesInline and get attachments

[2018-03-09 17:27] xXXIMMATTHEWXXx commented on #212
I cant really understand the question here. You cant really "get a forwarded message"

[2018-03-09 17:59] cleitongarcia commented on #212
At the moment I made some modifications to the IncomingMessage and ImapClient class to allow the inline images to be displayed, and when an email is forwarded it does not have a body, so when you try to get this email it comes blank, so I modified the code for perform a search and find the first email with the same title as the forwarded email and then assign the value. I'll edit the changes for y

[2018-03-09 18:33] cleitongarcia commented on #212
I already have clonned the repo, but i cannot push! What i should do?

[2018-03-10 14:48] xXXIMMATTHEWXXx commented on #212
You cannot commit directly to master. Please fork this repo, commit the changes there then open a pull request

[2018-03-11 21:34] sergey144010 commented on #211
Sorry guys that I can not help you. Over the past year, much has changed in my life and there is simply no time for it. I hope that in the future I'll be back. I changed a lot of code in my branch, I do not even remember exactly what now. I can only advise you to install it and see how it works there. https://github.com/sergey144010/php-imap-client/

[2018-03-12 10:41] disaipe commented on #211
@kekatxxx try use
`$attachment->info->structure->id`

[2018-03-12 10:44] kekatxxx commented on #211
Thanks guys for hepling me. In meanwhile I used another library because I had no time to do a deep study of the code. I hope that my issue will help to improve the next versions. Bye.

[2018-03-15 11:20] #211 closed

[2018-03-23 14:30] jmallory927 opened #213 "Certain types of attachments do not show up"
### Feature request or bug
Bug

### If a bug, what did you expect to happen?
Attachment to show up

### If a bug, what happened?
When I dumped messages that had CSV attachments, some of them showed having an attachment correctly, others that were attached different, did not.

### If a bug, list steps to reproduce bugs.
I have included two examples of the attachment header, one that does work, and

[2018-03-24 14:04] xXXIMMATTHEWXXx commented on #213
Hello! We are aware of this issue.
1) Please use pastebin or other related services for large dumps
2) I am working on dynamic attachment types. However the person who did the
recode is no longer with us and I must learn the code

[2018-03-29 08:36] reimax opened #214 "getMessage() returns a message with not all attachments"
I checked 10 letters, among which all had attach. I noticed that if you use GetMessage(), then for all emails you can get attach. But if you use the GetMessage () method separately for each message, very often it shows that the attach letter does not. I'm using this same letter in the GetMessage list () and I see that there are attach there.
How to fix?

[2018-04-10 15:57] xXXIMMATTHEWXXx commented on #168
I will deff check this out.

[2018-04-13 13:15] Cowprod commented on #203
Hi,

Same problem here, all emails from a member of my team are empty.
[_body:SSilence\ImapClient\Section:private]  is always empty.
I suspected his email client but I use Outlook for IOS like him without any problem.
We both use an Office 365 account of the same organisation to send emails.

I can reproduce the case, so if I can help do not hesitate.

Regards,

[2018-04-16 19:38] halojoy opened #215 "An error in iconv() : incomplete multibyte character"
I am trying to learn php-imap-client.
I am on PHP 7.2.3.

I just got this error:

iconv(): Detected an incomplete multibyte character in input string in C:\Apache24\htdocs\ssilence\ImapClient\IncomingMessage.php on line 589

[2018-04-16 20:36] xXXIMMATTHEWXXx commented on #215
We do not officially support PHP5+

[2018-04-20 17:27] xXXIMMATTHEWXXx commented on #195
Should be solved with https://github.com/SSilence/php-imap-client/commit/103a02c143d4fe028fdcdb56fa3413e8a02cd111

[2018-04-21 07:06] halojoy commented on #189
I get the same error:
**quotable-printable error**

The script I use in PHP 7.2.3 is:
[code]

[2018-04-27 17:23] alexsdesign opened #216 "Timeout when connecting to Gmail / Hotmail / Outlook"
When using credentials for Gmail, Hotmail or Outlook, it should pull the list of messages from the inbox.
I'm setting the imap address to the correct ones

Gmail:   imap.gmail.com
Hotmail / Outlook : imap-mail.outlook.com

I'm using the base code, with no changes ... when I try to run the script it timeouts.
It works perfectly for my mailbox and another persons mailbox ran (personal domain mailbox

[2018-04-30 11:54] xXXIMMATTHEWXXx commented on #215
Yes we support php 5

[2018-05-03 10:32] Daxyhr commented on #185
This issue is solved by changing the following:

ImapClient.php

    /**
     * Wrapper for php imap_headerinfo()
     *
     * @see http://php.net/manual/ru/function.imap-headerinfo.php
     * @param integer $id
     * @return object|false
     */
    public function imapHeaderInfo($id)
    {
        return imap_headerinfo($this->imap, $id);
    }

change into:
    public function imapHeaderInfo(

[2018-05-03 16:50] xXXIMMATTHEWXXx commented on #185
Hello. We accept all help @Daxyhr. However to properly credit you you need to submit a pull request with these changes

[2018-05-07 08:44] Daxyhr commented on #185
@xXXIMMATTHEWXXx I'm trying to figure out how that works ;). But I can't figure it out. Thats why I just posted the solution here. I don't care about credits ;). I just pointed to a solution that I found online when I runned into the issue above.

[2018-05-07 09:16] geri777 opened #218 "Can I load the headers of all messages, only?"
### Feature request or bug
Feature

### If a feature request, what do you want to be added or changed?
Maybe this already exists and I just can't find it. I would like to load all messages of a folder to display the header data in a table (like a webmail). Currently getMessages() seems to load all messages including body and attachments, which is very slow.

[2018-05-07 10:29] geri777 commented on #153
I replaced "imap_qprint()" with "quoted_printable_decode()" in **protected function decodeBody**. This avoids the notice. Needs more investigation...

[2018-05-07 17:17] xXXIMMATTHEWXXx commented on #218
Deff cool. Maybe like a quick load feature!

[2018-05-14 13:02] geri777 opened #220 "getMessage($id) returns wrong message"
When I pull the last 20 messages and then want to access a specific message I get the wrong one.
The message I get is not within the 20 messages of $allEmails.
I am using POP3 not IMAP.

    $allEmails = $imap->getMessages(20);
    $cntr = 1;
    foreach($allEmails As &$email) {
         // add the ID to each email
         $email['id] = $cntr;
         $cntr++;
    }
    var_dump($allEmails);

[2018-05-14 13:04] xXXIMMATTHEWXXx commented on #220
Arrays start at 0 not 1. If you want to access #3 you need to request #4

[2018-05-14 13:18] geri777 commented on #220
I thought it is 1-based, because when I look in function checkMessageId($id) I find ...
    if($id > $this->countMessages()){
         throw new ImapClientException('Bad message number');
    }

But anyway - THIS IS NOT THE PROBLEM unfortunately. I get a very old message (maybe number 500 or so), which is not part of the $imap->getMessages(20).

[2018-05-14 13:55] xXXIMMATTHEWXXx commented on #220
Lets take for example an array with 49 messages. Count messages would
return 50. But if you ask for the number 50, the exception is thrown. Get
it?

On the part about the message, just grab that section

[2018-05-14 15:54] geri777 commented on #220
If you have 50 messages, count will return 50, wouldn't it? If you have a Null-based  index the highest id can be 49. In this case the checkMessageId would be if($id >= $this->countMessages())
(note the equal sign).
Please post the part with "grab that section" again. If I click it it's empty. Many thanks!

[2018-05-14 16:08] geri777 commented on #220
I now understand what's going wrong. It is getMessages which makes the troubles. We get all messages from the mailbox using `imap_search($this->imap, 'ALL');` These messages should have an ID (counter). But instead we do several operations on the message array (like array_reverse and array_chunk) and get completely new message numbers then. These message numbers do not correlate with the message n

[2018-05-15 19:19] #220 closed

[2018-05-23 15:07] AaronMcHale opened #221 "Reading Calendar Invites"
Hello

Has anyone been able to use this to read calendar invites on incoming mail from Outlook? They don't seem to show up in the attachments array, whereas a text file does show up in the attachments array.  Doing a print_r on the whole message object doesn't seem to show calendar invites, but the calendar invite is in the email as I can see it in Roundcube as an attachment.

Thanks
Aaron

[2018-05-23 16:38] xXXIMMATTHEWXXx commented on #221
This is under the custom attachment type issue.

[2018-05-23 21:16] AaronMcHale commented on #221
Thanks for the reply, is it likely this will be fixed soon, or if not is there a way to get the raw message headers/body so I can parse it in the meantime?

[2018-05-23 21:18] xXXIMMATTHEWXXx commented on #221
This is currently not supported no. I am working on it now

[2018-05-23 21:26] AaronMcHale commented on #221
Alright, thank you for working on the issue, much appreciated :)

[2018-05-26 06:52] animi4695 opened #222 "Feature request to connect using auth token"
### Feature request or bug

Instead of password, is there any compatibility to connect with auth token.